/*
 Diese Datei ist Teil der Bachelorarbeit von Fabian Schoettler
 Martrikelnummer : 1111 0647
 Stand : 13.03.2019
*/
.alert-area {
  max-height: 100%;
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;
  z-index: 99999;
}

.alert-box {
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  line-height: 1.3em;
  padding: 10px 15px;
  margin: 5px 10px;
  position: relative;
  border-radius: 5px;
  transition: opacity 0.2s ease-in;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.alert-box.hide {
  opacity: 0;
}

.message-success{
  background-color: rgba(40, 167, 69, 0.9);
}

.message-info{
  background-color: rgba(0, 123, 255, 0.9);
}

.message-error{
  background-color: rgba(220, 53, 69, 0.9);
}

.message-default{
  background-color:rgba(108, 117, 125, 0.9);
}

@media (max-width: 767px) and (min-width: 481px) {
  .alert-area {
    left: 100px;
    right: 100px;
  }
}

@media (min-width: 768px) {
  .alert-area {
    width: 350px;
    left: 0;
    right: auto;
  }
}
