/*
 Diese Datei ist Teil der Bachelorarbeit von Fabian Schoettler
 Martrikelnummer : 1111 0647
 Stand : 13.03.2019
*/

.faderContainer{
	grid-row: 3;
	height:100%;
	overflow-x: auto;
	white-space: nowrap;
}

.faderContainerBig{
	grid-column: first span/ end;
}

.faderContainerSmall{
	grid-column: first span/ 2;
}

.faderControlContainer{
	height:100%;
	width:100%;
	display: grid;
	grid-template-rows: minmax(60px,10%) minmax(30px, 5%) 1fr;
	grid-template-columns: 1fr 50px;
	grid-gap: 5px;
}

.faderControlOption{
	font-size: 1rem;
	margin-right: 2px;
	margin-left: 2px;
	width:100%;
	height:100%;
	display: block;
}



.faderControlBar{
	grid-column:first span / end;
	grid-row: 1 span / 2;
	display: flex;
	flex-direction: row;
	height:100%;
	width:100%;
}

.maxButton{
	z-index: 2;
	box-shadow: 2px 2px 2px rgba(100,100,100,40);
	background-color: #fff;
	color:white;
	color: #000;
}

.maxButton:hover{
	color: #fff;
}

.minButton{
	background-color: dimgrey;
	color:white;
}

.controlUnitWrapper, .masterUnitWrapper{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid rgba(0,0,0,0.1);
	width:100%;
	height:100%;
}

.masterUnitWrapper{
	border:none;
}

.control-unit{
	display:inline-block;
	border-width: 1px;
	border-radius: 10px;
	border-color: #888;
	padding-left: 1px;
	padding-right: 1px;
  height:100%;
  width:100px;
}


.faderValueContainer{
	width: 100%;
}

.faderValueTag,.inputContainer{
	border:0;
	margin:0px;
	display: block;
	height:100%;
	width:100%;
	padding: 0;

}

.inputContainerWrapper{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
}

.inputContainer{
	 border-bottom: 1px;
	 border-bottom-style: solid;
	 border-bottom-color: black;
}

.transTimeFader,.fader {
	-webkit-appearance:none;
	position:absolute;
	display: block;
	height:50px;
	width: 240px;
	-webkit-transform: rotate(270deg);
	background-color: inherit;
}

.faderTemplate{
	display:none;
}


.transTimeFader{
	-webkit-transform:none;
	position: relative;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}

.fader:focus {
  outline: none;
}

.transTimeFader::-webkit-slider-runnable-track,.fader::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background-image:var(--slider-gradient);
  border-radius: 0px;
  border: none;
}


.fader::-webkit-slider-thumb {
	box-shadow: 1.3px 1.3px 3.6px rgba(0, 0, 0, 0.32), 0px 0px 1.3px rgba(13, 13, 13, 0.32);
  border: 1px solid #000000;
  height: var(--knob-size);
  width: var(--knob-size);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -24px;
}

.fader.master-fader::-webkit-slider-thumb{
	border-color: #fff;
}

.transTimeFader::-moz-range-track,.fader::-moz-range-track{
	/*width: var(--fader-height) ;*/
	width:100%;
  height: 2px;
  cursor: pointer;
	box-shadow: none;
	background-image:var(--slider-gradient);
  border-radius: 0px;
	border: none;
}

.transTimeFader::-moz-range-track{
	width:100%;
}

.transTimeFader::-moz-range-thumb,.fader::-moz-range-thumb{
	box-shadow: 1.3px 1.3px 3.6px rgba(0, 0, 0, 0.32), 0px 0px 1.3px rgba(13, 13, 13, 0.32);
  border: 1px solid #000;
	height: var(--knob-size);
  width: var(--knob-size);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -24px;
}

.fader.master-fader::-moz-range-thumb{
	border-color: #fff;
}
