/*
 Diese Datei ist Teil der Bachelorarbeit von Fabian Schoettler
 Martrikelnummer : 1111 0647
 Stand : 13.03.2019
*/
.headerContainer{
	height:100%;
	width:100%;
	display: grid;
	grid-template-columns: 70px 3fr 70px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
	grid-area: header;
}

.headerContainer.is-loaded{
	grid-template-columns: 3fr 70px 1fr;
}

.loadingContainer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.loadingContainer.is-loaded{
	display: none;
}


.lds-dual-ring {
  display: inline-block;
  width: 	40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid var(--c-primary);
  border-color: var(--c-primary) transparent var(--c-primary) transparent;
  animation: lds-dual-ring 1.0s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.appStatusIcon{
	background-image: url(../../icons/outline-power_off-24px.svg);
	background-color: var(--c-danger);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.appStatusIcon.is-connected{
	background-image: url(../../icons/outline-power-24px.svg);
	background-position: right;
	background-color: inherit;
}

.burgerMenu{
	height:100%;
	width:100%;
	background-image: url(../icons/baseline_menu_white_36dp.png);
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: var(--c-secondary);
	grid-area: burgerMenu;
	box-shadow: none;
}

.burgerMenu:hover{
	background-color: var(--c-primary);
}
