/*
 Diese Datei ist Teil der Bachelorarbeit von Fabian Schoettler
 Martrikelnummer : 1111 0647
 Stand : 13.03.2019
*/
.sidenav {
	height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
	background-color: var(--c-secondary);
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
	cursor:pointer;
}

.sidenav.is-extended{
	width:40%;
}

.sidenav a:hover {
	background-color: var(--c-primary);
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 80px;
  margin-left: 50px;
	color:#aaa;
	cursor: pointer;
}

.sidenav .closebtn:hover{
}


@media only screen and (max-width: 600px){
	.sidenav.is-extended{
		width:90%;
	}

}
