/*
 Diese Datei ist Teil der Bachelorarbeit von Fabian Schoettler
 Martrikelnummer : 1111 0647
 Stand : 13.03.2019
*/
.globalGrid{
	height:100%;
	width:100%;
	display: grid;
	grid-template-columns: 1fr 100px;
	grid-template-rows: 70px 1fr 1fr 1fr;
	grid-gap: 5px;
	grid-template-areas:
	"header						burgerMenu"
	"controlContainer	modeBtn"
	"controlContainer	modeBtn"
	"controlContainer	modeBtn"
	;
}

.controlContainerGrid{
	height:100%;
	width:100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 100%;
	grid-auto-columns: 1fr;
	grid-area: controlContainer;
}

.modeBtnContainer{
	height:100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3,1fr);
	grid-area: modeBtn;
	cursor: pointer;
}


@media only screen and (max-width: 600px){
	.globalGrid{
		grid-template-rows: 50px 1fr 1fr 50px;
		grid-template-columns: 1fr 50px;
		grid-gap: 5px;
		grid-template-areas:
		"header						burgerMenu"
		"controlContainer	controlContainer"
		"controlContainer	controlContainer"
		"modeBtn					modeBtn"
		;
	}

	.modeBtnContainer{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}

}
