/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Color.css
 */
:root {
  /* ----- Light Mode ----- */
  --primary: rgba(0, 0, 0, 0.85);
  --secondary: rgba(0, 0, 0, 0.5);
  --tertiary: rgba(0, 0, 0, 0.25);

  --primarySwitched: rgba(255, 255, 255, 0.7);
  --secondarySwitched: rgba(255, 255, 255, 0.5);
  --tertiarySwitched: rgba(255, 255, 255, 0.25);

  --fillUltraLight: rgba(246, 246, 246, 0.36);
  --fillLight: rgba(246, 246, 246, 0.48);
  --fillMedium: rgba(246, 246, 246, 0.6);
  --fillThick: rgba(246, 246, 246, 0.72);
  --fillUltraThick: rgba(246, 246, 246, 0.84);

  /* --mainColor: #4F53B1; */
  --mainColor: #4b4ea5;

  --colorButton: #ffffff;
  --colorButtonHover: #e9e9e9;
  --borderButton: rgba(0, 0, 0, 0.15);

  --closeButton: rgb(148, 148, 148);

  --onepStroke: #fff;

  --midLine: #b7b7b7;
  --faderThumb: rgba(246, 246, 246, 0.84);
  --faderThumbHover: rgba(246, 246, 246, 1);
  --faderBorder: rgba(0, 0, 0, 0.2);
  --faderThumbBorder: rgba(0, 0, 0, 0.2);

  --primaryDark: rgb(255, 255, 255);
  --secondaryDark: rgba(255, 255, 255, 0.5);
  --tertiaryDark: rgba(255, 255, 255, 0.25);
  --brightAndNotTooDark: rgba(255, 255, 255, 0.95);

  --fillUltraLightDark: rgba(40, 40, 40, 0.4);
  --fillLightDark: rgba(40, 40, 40, 0.5);
  --fillMediumDark: rgba(40, 40, 40, 0.6);
  --fillThickDark: rgba(40, 40, 40, 0.7);
  --fillUltraThickDark: rgba(40, 40, 40, 0.8);

  --blue: rgba(150, 180, 226, 0.5);
  --cyan: rgba(170, 232, 236, 0.5);
  --green: rgba(172, 229, 152, 0.5);
  --purple: rgba(236, 163, 238, 0.5);
  --red: rgba(240, 174, 174, 0.5);
  --yellow: rgba(241, 243, 145, 0.5);

  --color7B7B7C: #7b7b7c;
  --colorB7B7B7: #b7b7b7;
  --colorFFFFFF50: rgba(255, 255, 255, 0.5);
  --colorFFFFFF40: rgba(255, 255, 255, 0.4);
  --color00000025: rgba(0, 0, 0, 0.25);
  --color00000020: rgba(0, 0, 0, 0.2);
  --color00000010: rgba(0, 0, 0, 0.1);
  --color00000008: rgba(0, 0, 0, 0.08);
  --color00000003: rgba(0, 0, 0, 0.03);

  --windowShadow: 0px 18px 50px rgba(0, 0, 0, 0.15);
  --windowBackdrop: blur(100px);

  --shadowLight: 0px 3px 10px rgba(0, 0, 0, 0.1);
  --shadowButton: 0px 1px 5px rgba(0, 0, 0, 0.1);

  --sceneOn: rgba(255, 255, 255, 0.8);
  --backgroundImage: url('./assets/bgLight.png');
}

.dark {
  /* ----- Dark Mode ----- */
  --primary: rgba(255, 255, 255, 0.85);
  --secondary: rgba(255, 255, 255, 0.55);
  --tertiary: rgba(255, 255, 255, 0.25);

  --primaryDark: rgb(0, 0, 0);

  --primarySwitched: rgba(65, 65, 65, 0.7);
  --secondarySwitched: rgba(0, 0, 0, 0.5);
  --tertiarySwitched: rgba(0, 0, 0, 0.25);
  --brightAndNotTooDark: rgba(0, 0, 0, 0.7);

  --fillUltraLight: rgba(40, 40, 40, 0.4);
  --fillLight: rgba(246, 246, 246, 0.03);
  --fillMedium: rgba(63, 63, 63, 0.5);
  --fillThick: rgba(63, 63, 63, 0.6);
  --fillUltraThick: rgba(40, 40, 40, 0.75);

  --onepStroke: rgba(255, 255, 255, 0.1);

  --midLine: #5c5c5c;
  --faderThumb: rgba(246, 246, 246, 0.5);
  --faderThumbHover: rgba(246, 246, 246, 0.6);
  --faderBorder: rgba(255, 255, 255, 0.08);
  --faderThumbBorder: rgba(255, 255, 255, 0.25);

  --colorButton: rgba(83, 83, 83, 0.5);
  --colorButtonHover: rgba(100, 100, 100, 0.5);
  --borderButton: rgba(255, 255, 255, 0.2);

  --closeButton: rgb(145, 145, 145);

  --mainColor: #b9bcff;

  --sceneOn: rgba(255, 255, 255, 0.5);

  --backgroundImage: url('./assets/bgDark.png');
}
