/**
 * index.css
 * @author Leon Hölzel
 */
@import url(./Color.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary);
    background-color: #242424;

    /* Standard-Eigenschaft mit Browser-Präfixen */
    -webkit-user-select: none;
    /* für Safari und Chrome */
    -moz-user-select: none;
    /* für Firefox */
    -ms-user-select: none;
    /* für Internet Explorer */
    user-select: none;
    /* Standard-Eigenschaft */

    /* only maybe, vielleicht andere lösung. macht es so, dass  */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  /* Prevent dragging  */
  a,
  a::after,
  a::before {
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }

  .background {
    background-image: var(--backgroundImage);
    background-size: cover;
    min-height: 100vh;
  }

  .centerIcon {
    display: block;
    margin: auto;
    fill: var(--primary);
  }

  .addIcon {
    height: 22px;
    width: 22px;
    mask: url(./assets/IconAdd.svg);
    mask-repeat: no-repeat;
    background: var(--primary);
    ;
  }

  .removeIcon {
    height: 18px;
    width: 18px;
    mask: url(./assets/IconRemove.svg);
    mask-repeat: no-repeat;
    background: var(--primary);
    mask-position: center;
  }

  .window {
    background-color: var(--fillMedium);
    border: 1px solid var(--onepStroke);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }

  .innerWindow {
    background-color: var(--primarySwitched);
    box-shadow: var(--shadowLight);
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: absolute;
  }

  button:focus,
  input:focus {
    outline: none;
  }

  .titlebar {
    /* -webkit-user-select: none; */
    -webkit-app-region: drag;
  }

  /* Breite und Farbe der Scrollleiste */
  /* Breite und Höhe der Scrollleiste */
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  /* Hintergrundfarbe der Scrollleiste */
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }

  /* Farbe des Scrollleisten-Griffs */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: solid .5px rgba(0, 0, 0, 0.25)
  }

  /* Dunklerer Strich auf der Scrollleiste beim Scrollen */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .flex {
    display: flex;
  }

  .align-right {
    align-items: flex-end;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }

    a:hover {
      color: #747bff;
    }

    button {
      background-color: #f9f9f9;
    }

    code {
      background-color: #f9f9f9;
    }
  }
}