/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file index.css
 */
@import url(./Color.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary);
    background-color: #242424;

    user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch; /* Experimental trying to improve touch scrolling */
  }

  * {
    transition: border-color 200ms ease-out, background 200ms ease-out, box-shadow 200ms ease-out;
  }

  .mainContainer {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .mainContent {
    height: 910px;
    width: 1840px;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 0;
    transform: translate(-50%, -50%);
    min-width: calc(100% - 80px);
    min-height: calc(100% - 80px);
  }

  /* Prevent dragging  */
  img,
  a,
  a::after,
  a::before {
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
  }

  .background {
    background-image: var(--backgroundImage);
    background-size: cover;
    min-height: 100vh;
  }

  .hide {
    visibility: hidden;
  }

  .marginLeft45 {
    margin-left: 45px;
  }

  .marginRight45 {
    margin-right: 45px;
  }

  .centerIcon {
    display: block;
    margin: auto;
    fill: var(--primary);
  }

  .addIcon {
    height: 22px;
    width: 22px;
    mask: url(./assets/IconAdd.svg);
    mask-repeat: no-repeat;
    background: var(--primary);
  }

  select {
    background-color: transparent;
    color: var(--primary);
  }

  select:focus {
    background-color: var(--primarySwitched);
  }

  .removeIcon {
    height: 18px;
    width: 18px;
    mask: url(./assets/IconRemove.svg);
    mask-repeat: no-repeat;
    background: var(--primary);
    mask-position: center;
  }

  .window {
    background-color: var(--fillMedium);
    border: 1px solid var(--onepStroke);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }

  .innerWindow {
    background-color: var(--primarySwitched);
    border: 1px solid var(--onepStroke);
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: absolute;
  }

  .buttonClose {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 9;
  }

  .buttonClose:hover .xClose {
    background-color: var(--primary);
  }

  .xClose {
    position: relative;
    height: 24px;
    width: 3px;
    background-color: var(--closeButton);
    margin-left: 19px;
    transform: rotate(45deg);
  }

  .xiClose {
    margin-left: 0;
    transform: rotate(90deg);
  }

  button:focus,
  input:focus {
    outline: none;
  }

  .textBox {
    background-color: var(--fillLight);
    border: var(--faderThumbBorder) 1px solid;
    border-radius: 5px;
    width: 180px;
    height: 48px;
    position: relative;
    padding-left: 10px;
    outline: none;
    margin-bottom: 10px;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    text-overflow: ellipsis;
  }

  /* Width and height of the scroll bar */
  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  /* Background color of the scroll bar */
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }

  /* Scroll bar handle color */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: solid 0.5px rgba(0, 0, 0, 0.25);
  }

  /* Darker line on the scroll bar when scrolling */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .flex {
    display: flex;
  }

  .align-right {
    align-items: flex-end;
  }

  .backgroundOverlay {
    position: relative;
    z-index: 9997;
    height: 10000vh;
    width: 10000vw;
    left: -5000vw;
    top: -5000vh;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    backdrop-filter: blur(2px);
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
  }

  @keyframes fadeIn {
    0% {
      backdrop-filter: blur(0px);
      background-color: rgba(0, 0, 0, 0);
    }

    100% {
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
