/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Scenes.css
 */
@import url(./Color.css);

.scenesLayer {
    height: 73px;
    width: 124px;
    left: 1716px;
    top: 0x;
    border-radius: 10px;
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.scenesLayerAlign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}

.scenesMain {
    height: 910px;
    width: 1696px;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.scenesMainAlign {
    margin-top: 20px;
    margin-left: 20px;
    height: 870px;
    width: 1656px;
}

.scenesMaster {
    height: 818px;
    width: 124px;
    left: 1716px;
    top: 92px;
    border-radius: 10px;

}

.scenesMasterAlign {
    position: relative;
    left: 20px;
}