/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Scenes.css
 */

.scenesSolo {
  height: 73px;
  width: 124px;
  left: 1716px;
  top: 0x;
  border-radius: 10px;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}

.scenesFade {
  top: 20px;
}

.scenesFadeInput {
  width: 50px !important;
  margin-left: 10px;
  margin-top: -14px;
  text-align: center;
  padding: 0;
}

.scenesSoloAlign {
  position: relative;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
  display: flex;
  justify-content: center;
  height: 20px;
}

.toggleScenes {
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.scenesMain {
  height: 910px;
  width: 1696px;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.scenesMainAlign {
  margin-top: 20px;
  margin-left: 20px;
  height: 870px;
  width: 1656px;
}

.scenesMaster {
  height: 724px;
  width: 124px;
  left: 1716px;
  top: 186px;
  position: absolute;
}

.scenesMasterAlign {
  position: relative;
  left: 20px;
}
