/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Show.css
 */

.showScenes {
  height: 445px;
  width: 1354px;
  left: 0;
  top: 0;
}

.showSaves {
  height: 445px;
  width: 466px;
  left: 1374px;
  top: 0;
}

.showControls {
  height: 445px;
  width: 1840px;
  left: 0;
  top: 465px;
}

.showControlButtons {
  position: relative;
  height: 56px;
  width: 1694px;
  margin: 20px;
}

.showControlTimeline {
  position: relative;
  height: 327px;
  width: 1694px;
  margin: 20px;
  padding: 20px 20px 10px;
}

.showControlMaster {
  position: relative;
  height: 403px;
  width: 84px;
  bottom: 423px;
  left: 1734px;
}
