@import url(./Color.css);

.faders {
    width: 870px;
    height: 445px;
    left: 40px;
    top: 595px;
    padding-left: 20px;
    padding-right: 20px;
}

.scenes {
    height: 445px;
    width: 974px;
    left: 40px;
    top: 130px;
    overflow-x: auto;
}

.overview {
    height: 910px;
    width: 846px;
    left: 1034px;
    top: 130px;
    border-radius: 10px;
}

.mainfader {
    height: 445px;
    width: 84px;
    left: 930px;
    top: 595px;
}

.sliders {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}

.studio_overview {
    background-image: url('./assets/studio_overview.png');
    height: 870px;
    width: 806px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;

    background-size: cover;
}

.buttonOpenControl {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: -2%;
    transform: translate(calc(-50% - 10px), -50%);
}

.buttonOpenControl:hover {
    background: hotpink;
    cursor: pointer;
}

.buttonBigView {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.faderText {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 0;
    transform: translateX(-10px);
}

.slidersHeight {
    height: 425px;
}

.notConnected {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}