/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Studio.css
 */

.studioLayout {
  gap: 20px;
  display: flex;
}

.faders {
  position: relative;
  width: 870px;
  height: 445px;
  left: 0;
  top: -425px;
  padding-left: 20px;
  padding-right: 20px;
}

.scenes {
  position: relative;
  height: 445px;
  width: 974px;
  top: 0;
  overflow-x: auto;
}

.overview {
  position: relative;
  height: 910px;
  min-width: 846px;
  top: 0;
  border-radius: 10px;
}

.mainfader {
  position: relative;
  height: 445px;
  width: 84px;
  left: 890px;
  top: 20px;
}

.sliders {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
}

.studioOverview {
  background-image: url('./assets/StudioOverview.png');
  height: 868px;
  width: 804px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: 1px solid var(--onepStroke);
}

.studioOverviewInfopanel {
  height: 39px;
  width: 90px;
  flex-shrink: 0;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid var(--onepStroke);
  background-color: var(--fillThick);
  -webkit-backdrop-filter: var(--windowBackdrop);
  backdrop-filter: var(--windowBackdrop);
  box-shadow: var(--shadowLight);
  position: absolute;
  top: 60px;
  z-index: 1;
}

.studioOverviewInfopanelGreenscreen {
  left: 40.7%;
  top: 80%;
}

.studioOverviewInfopanelTestchart {
  position: relative;
  top: -75px;
}

.studioOverviewInfopanelText {
  font-size: 13px;
  font-weight: 600;
  color: var(--primary);
  text-align: right;
  letter-spacing: 0;
  margin-right: 6px;
}

.studioOverviewInfopanelBrightness {
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  color: var(--primary);
  bottom: -4px;
  right: 6px;
}

.studioOverviewLight {
  color: var(--primary);
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.schein {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -52px;
  opacity: 0;
}

.studioOverviewGreenscreen {
  height: 100px;
  width: calc(100% - 190px);
  position: relative;
  margin-left: 120px;
  top: 60px;
}

.studioOverviewGreenscreenLamp {
  top: 40px !important;
}

.studioOverviewLamp {
  position: relative;
  z-index: 2;
  left: 25px;
  top: 25px;
}

.lampMirrored {
  transform: rotateY(180deg);
}

.studioOverviewLights {
  height: 565px;
  width: calc(100% - 200px);
  position: relative;
  margin-left: 100px;
  top: 60px;
}

.studioOverviewTestchart {
  height: 30px;
  width: 200px;
  position: relative;
  margin-left: 150px;
  display: flex;
  top: 85px;
}

.studioOverviewTestchartLamp {
  transform: rotateX(180deg);
  position: relative;
  display: inline;
  left: 15px;
  z-index: 2;
}

.studioOverviewTraversen {
  position: relative;
}

.studioOverviewTraversenLight {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0.7px);
  position: absolute;
}

.buttonOpenControl {
  width: 36px;
  height: 36px !important;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: -2%;
  transform: translate(calc(-50% - 10px), -50%);
}

.buttonBigView {
  width: 36px;
  height: 36px !important;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  backdrop-filter: blur(10px);
}

.faderText {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 0;
  transform: translateX(-10px);
}

.slidersHeight {
  height: 425px;
}

.scrollButton {
  position: absolute;
  width: 20px;
  height: 100%;
  right: 0;
  mask: url(./assets/Arrow.svg);
  mask-repeat: no-repeat;
  background: var(--tertiary);
  mask-position: center;
}

.scrollButton:hover {
  background: var(--primary);
}

@keyframes holdAndReturn {
  0% {
    transform: scale(1);
  }
  20%,
  80% {
    transform: scale(1.03) translateY(-5px);
  }
  100% {
    transform: scale(1);
  }
}
