@import url(./Color.css);

.faders {
    width: 870px;
    height: 445px;
    left: 0;
    top: 465px;
    padding-left: 20px;
    padding-right: 20px;
}

.scenes {
    height: 445px;
    width: 974px;
    top: 0;
    overflow-x: auto;
}

.overview {
    height: 910px;
    width: 846px;
    left: 994px;
    top: 0;
    border-radius: 10px;
}

.mainfader {
    height: 445px;
    width: 84px;
    left: 890px;
    top: 465px;
}

.sliders {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}

.studio_overview {
    background-image: url('./assets/studio_overview.png');
    height: 870px;
    width: 806px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
}

.studio_overview_infopanel {
    height: 39px;
    width: 90px;
    flex-shrink: 0;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid var(--onepStroke);
    background-color: var(--fillThick);
    --webkit-backdrop-filter: var(--windowBackdrop);
    backdrop-filter: var(--windowBackdrop);
    box-shadow: var(--shadowLight);
    -webkit-box-shadow: var(--shadowLight);
    position: absolute;
    top: 60px;
    z-index: 1;
}

.studio_overview_infopanel_greenscreen {
    top: 30px;
    left: -90px;
}

.studio_overview_infopanel_testchart {
    top: 30px;
    left: -90px;
}

.studio_overview_infopanel_text {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary);
    text-align: right;
    letter-spacing: 0em;
    margin-right: 6px;
}

.studio_overview_infopanel_brightness {
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    color: var(--primary);

    bottom: -4px;
    right: 6px;
}

.studio_overview_light {
    color: var(--primary);
    position: relative;
    display: inline-block;
    /* background-color: aqua; */
}

.schein {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -52px;
    opacity: 0;
}

.studio_overview_greenScreen {
    height: 100px;
    width: calc(100% - 190px);
    position: relative;
    margin-left: 120px;
    /* background-color: rgba(68, 138, 196, 0.411); */
}

.studio_overview_greenScreen_lamp {
    transform: scale(0.5);
    position: relative;
    /* top: 30px; */
    /* display: inline; */
    z-index: 2;
}

.lamp_mirrored {
    transform: scale(0.5) rotateY(180deg);
}

.studio_overview_lights {
    height: 675px;
    width: calc(100% - 200px);
    position: relative;
    margin-left: 100px;
    /* background-color: rgba(104, 196, 68, 0.274); */
}

.studio_overview_testchart {
    height: 83px;
    width: 220px;
    position: relative;
    margin-left: 170px;
    /* background-color: rgba(217, 96, 233, 0.274); */
}

.studio_overview_testchart_lamp {
    transform: scale(0.5) rotateX(180deg);
    position: relative;
    display: inline;
    top: -25%;
}


.buttonOpenControl {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: -2%;
    transform: translate(calc(-50% - 10px), -50%);
}

.buttonBigView {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.faderText {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 0;
    transform: translateX(-10px);
}

.slidersHeight {
    height: 425px;
}

.notConnected {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

select {
    /* !!!!!!!! -------- Kommt weg ---------- !!!!!!!! */
    top: -40px;
    position: absolute;
}