# pip freeze > requirements.txt zum aktualisieren
# pip install -r requirements.txt zum installieren

bidict==0.22.1
blinker==1.6.2
certifi==2020.6.20
chardet==4.0.0
click==8.1.3
colorzero==1.1
distro==1.5.0
Flask==2.3.2
Flask-Cors==3.0.10
Flask-SocketIO==5.3.4
gpiozero==1.6.2
idna==2.10
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mido==1.2.10
numpy==1.19.5
picamera2==0.3.9
pidng==4.0.9
piexif==1.1.3
Pillow==8.1.2
protobuf==3.12.4
python-apt==2.2.1
python-engineio==4.4.1
python-prctl==1.7
python-rtmidi==1.5.0
python-socketio==5.8.0
requests==2.25.1
RPi.GPIO==0.7.0
rtmidi==2.5.0
simplejpeg==1.6.4
six==1.16.0
spidev==3.5
ssh-import-id==5.10
toml==0.10.1
urllib3==1.26.5
v4l2-python3==0.3.2
Werkzeug==2.3.4
zipp==3.15.0