/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file AddScene.css
 */
@import url(../Color.css);

.AddSceneContainer {
  height: 362px;
  width: 886px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  backdrop-filter: var(--windowBackdrop);
  -webkit-backdrop-filter: var(--windowBackdrop);
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}

.buttonClose {
  z-index: 9999;
}

.AddSceneTitle {
  font-size: 24px;
  font-weight: 400;
}

.AddSceneContent {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary);
}

.AddSceneTextBox {
  width: 397px !important;
}

.AddSceneChecker input {
  margin-right: 10px;
}

.AddSceneNote {
  color: var(--secondary);
}

.AddSceneFooter {
  top: 254px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--fillMedium);
  left: 0;
}

.AddSceneButtons {
  gap: 30px !important;
  width: 100% !important;
  padding: 30px !important;
}

.AddSceneButtons button {
  height: 46px;
}

.AddSceneButtons button:first-child {
  background-color: var(--mainColor);
  color: var(--primaryDark);
}
