@import url(../Color.css);

.AddSceneOverlay {
    position: relative;
    z-index: 9998;
    /* Infinite background hack */
    height: 10000vh;
    width: 10000vw;
    left: -5000vw;
    top: -5000vh;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    backdrop-filter: blur(2px);
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
      backdrop-filter: blur(0px);
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.25);
    }
}
  
.AddSceneContainer {
    height: 362px;
    width: 886px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    backdrop-filter: var(--windowBackdrop);
    -webkit-backdrop-filter: var(--windowBackdrop);
    position: absolute;
    z-index: 9999;
    overflow: hidden;
}

.buttonClose {
    z-index: 9999;
}

.AddSceneTitle {
    font-size: 24px;
    font-weight: 400;
}

.AddSceneContent {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary);
}

.AddSceneTextBox {
    width: 397px !important;
}

.AddSceneChecker input {
    margin-right: 10px;
}

.AddSceneNote {
    color: var(--secondary);
}

.AddSceneFooter {
    top: 254px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--fillMedium);
    left: 0;
}

.AddSceneButtons {
    gap: 30px !important;
    width: 100% !important;
    padding: 30px !important;
}

.AddSceneButtons button{
    height: 46px;
}

.AddSceneButtons button:first-child {
    background-color: var(--mainColor);
    color: var(--primaryDark);
}