/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file BigView.css
 */

.BigViewContainer {
  position: fixed;
  z-index: 9999;
  height: 910px;
  width: 1840px;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--fillMedium);
  color: var(--primary);
  border: var(--onepStroke) 1px solid;
  padding: 15px 20px 0;
}

.faderGroup > div {
  position: relative;
  top: -10px;
}

.BigViewContent .fader {
  padding-top: 5px;
}

.BigViewContent .faderName {
  bottom: 5px;
}

.BigViewContent .value-slider {
  bottom: 75px;
}

.faderGroup {
  outline-offset: -10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  outline: 1px solid var(--faderBorder);
  margin-top: 10px;
  margin-left: -10px;
}

.BigViewBackdrop {
  background: none;
  border: none;
  backdrop-filter: var(--windowBackdrop);
}

.BigViewContent {
  position: relative;
  height: 406px;
  width: 1694px;
  top: 41px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
}

.BigViewContent .sliders {
  height: 394px;
}

.BigViewContent .fader {
  height: 355px;
}

.BigViewLayer {
  position: absolute;
  top: 9px;
  height: 36px;
  object-fit: contain;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: var(--primary);
  gap: 10px;
}

.BigViewLayer > div {
  top: 7px;
}

.toggleUniverse {
  margin-left: 5px;
  top: 3px !important;
  position: relative;
  display: inline;
}

.universeLabel {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  padding-top: 4px;
  color: var(--primary);
  backdrop-filter: blur(10px);
  z-index: 9;
}

.mainfaderBigView {
  height: 832px;
  width: 84px;
  right: 20px;
  top: 56px;
  position: absolute;
}

.grayBackground > .fader {
  background-color: var(--color00000010);
}

.lastGroupFader {
  margin-right: 9px;
  border-radius: 0 5px 5px 0 !important;
  border: none;
}

.firstGroupFader {
  margin-left: 10px;
}

.noBorderWithoutSpacing {
  border: none;
}
