/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Button.css
 */
@import url(../Color.css);

.buttonDesign {
    background: var(--colorButton);
    color: var(--primary);
    border: 1px solid var(--onepStroke);
    box-shadow: var(--shadowButton);
}

.buttonDesign:hover {
    background: var(--colorButtonHover);
}