@import url(../Color.css);

.buttonDesign {
    background: var(--colorButton);
    color: var(--primary);
    border: 1px solid var(--onepStroke);
    box-shadow: var(--shadowButton);
}

.buttonDesign:hover {
    background: var(--colorButtonHover);
}