@import url(../Color.css);

.buttonDesign {
    background: var(--colorButton);
    color: var(--primary);
    border: 1px solid var(--color00000010);
}

.buttonDesign:hover {
    background: var(--colorButtonHover);
}