/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file DeviceList.css
 */
@import url(../Color.css);

hr {
    height: 1px;
    background-color: var(--onepStroke);
    border: none;
}

.deviceList {
    height: 100%;
    padding-right: 10px;
    margin-right: 10px;
    overflow-x: hidden;
}

.right-padding {
    padding-right: 19px;
}

.circle {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(148, 148, 148, .2);
    margin-right: 14px;
    border: solid 1px var(--onepStroke);
    background-size: cover;
    background-position: center;
}

.spotIcon {
    background-image: url('../assets/spotIcon.png');
}

.rgbIcon {
    background-image: url('../assets/rgbIcon.png');
}

.biIcon {
    background-image: url('../assets/biIcon.png');
}

.fillIcon {
    background-image: url('../assets/fillIcon.png');
}

.miscIcon {
    background-image: url('../assets/miscIcon.png');
}

.number {
    font-size: 20px;
    color: var(--primary);
    font-weight: 500;
    /* font-display: block;
    width: 3em;
    text-align: right; */
}

.name {
    font-size: 20px;
    color: var(--primary);
    margin-left: 20px;
    white-space: nowrap;
}

.nameNumberBox {
    width: 70%;
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    color: var(--primary);
}

.addremoveButton {
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}