/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Dialog.css
 */

.DialogContainer {
  height: 362px;
  width: 886px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  backdrop-filter: var(--windowBackdrop);
  -webkit-backdrop-filter: var(--windowBackdrop);
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}

.DialogTitle {
  font-size: 24px;
  font-weight: 400;
}

.DialogContent {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary);
}

.DialogTextBox {
  width: 397px !important;
}

.DialogChecker input {
  margin-right: 10px;
}

.DialogNote {
  color: var(--secondary);
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.DialogFooter {
  top: 252px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--fillMedium);
  left: 0;
}

.DialogButtons {
  gap: 30px !important;
  width: 100% !important;
  padding: 30px !important;
}

.DialogButtons button {
  height: 48px;
}

.DialogButtons button:first-child {
  background-color: var(--mainColor);
  color: var(--primaryDark);
}

.DialogIcon {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  aspect-ratio: 1;
  mask: url(../assets/LightOff.svg);
  mask-repeat: no-repeat;
  background: var(--tertiary);
  mask-size: contain;
}

.DeleteIcon {
  mask: url(../assets/delete.svg) !important;
  mask-size: 100px !important;
}
