@import url(../Color.css);

.dropdown {
    position: absolute;
    top: 38px;
    left: -1px;
    border: 1px solid rgb(197, 197, 197);
    background: #fff;
    padding: 0;
    color: #0062cc;
    text-align: left;
    border-radius: 0.25rem;
  }
  .dropdown > p {
    margin: 0;
    padding: 0.375rem 0.88rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    min-width: 140px;
  }
  .dropdown > p:hover {
    color: #fff;
    background-color: #0062cc;
  }
  .dropdown > p:last-child {
    border-bottom: 0 none;
  }
