/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file DropDown.css
 */
@import url(../Color.css);

.dropdown {
  position: absolute;
  top: 24px;

  border: 1px solid var(--onepStroke);
  border-radius: 0 5px 5px;
  box-shadow: var(--shadowLight);

  background-color: var(--fillUltraThick);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  color: var(--primary);
  text-align: left;
  overflow: hidden;
  min-width: 140px;
}

.dropdown > p {
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid var(--onepStroke);
}

.dropdown > p:hover {
  color: var(--primary);
  background: var(--colorButtonHover);
}

.dropdown > p:last-child {
  border-bottom: 0 none;
}
