/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Fader.css
 */

:root {
  --sliderHeight: 260px;
  /* Height of the slider (width in code) */
}

.fader {
  height: 360px;
  width: 102px;
  font-weight: 700;
  position: relative;
  color: var(--primary);
  border-right: 1px solid var(--faderBorder);
}

.numberAlign {
  margin: 20px 0 10px 0;
}

.bottomSpace {
  height: 394px;
}

.bottomSpace .value-slider {
  bottom: 114px;
}

.bottomSpace .inputNum {
  bottom: 68px;
}

.bottomSpace .midPoint {
  bottom: 230px;
}

.bottomSpace .faderName {
  bottom: 42px;
}

.noTopSpace {
  height: 327px;
}

.faderMaster {
  height: calc(var(--sliderHeight) + 100px) !important;
  top: 5px;
}

.faderMaster > .midPoint {
  bottom: calc(var(--sliderHeight) / 2 + 66px) !important;
}

.faderMaster > .value-slider > .slider {
  width: var(--sliderHeight) !important;
}

.value-slider {
  position: absolute;
  bottom: 80px;
  left: 56%;
}

.noBorder {
  border: none !important;
  width: 80px !important;
  margin-left: 1px;
}

.noBorder .slider {
  margin-left: 1px;
}

.slider {
  appearance: none;
  width: 260px;
  height: 13px;
  border-radius: 50px;
  background: #d3d3d3;
  outline: none;
  position: absolute;
  transform-origin: bottom left;
  transform: rotateZ(270deg) translate3d(0, 0, 0);
}

.faderText {
  padding-top: 0px;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 0;
  position: relative;
}

/* Slider Track - all Browsers */
.slider::-webkit-slider-runnable-track {
  /* Specific styling for WebKit/Blink */
  appearance: none;
  width: 260px;
  height: 13px;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.slider::-moz-range-progress {
  /* Specific styling for Firefox track */
  background-color: var(--mainColor);
  height: 13px;
  border-radius: 50px;
}

.slider::-ms-fill-lower {
  /* Specific styling for Microsoft Edge track */
  background-color: var(--mainColor);
  height: 13px;
  border-radius: 50px;
}

.slider::-ms-fill-upper {
  /* Specific styling for Microsoft Edge track */
  background-color: var(--mainColor);
  height: 13px;
  border-radius: 50px;
}

/* Slider Thumb - all Browsers */
.slider::-webkit-slider-thumb {
  /* Specific styling for WebKit/Blink */
  margin-top: -15px;
  width: 44px;
  height: 44px;
  border: 1px solid var(--faderThumbBorder);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  background: var(--faderThumb);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.slider::-moz-range-thumb {
  /* Specific styling for Firefox */
  width: 44px;
  height: 44px;
  border: 1px solid var(--faderThumbBorder);
  border-radius: 50%;
  cursor: pointer;
  background: var(--faderThumb);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: -15px;
}

.slider::-ms-thumb {
  /* Specific styling for Microsoft Edge */
  width: 44px;
  height: 44px;
  border: 1px solid var(--faderThumbBorder);
  border-radius: 50%;
  cursor: pointer;
  background: var(--faderThumb);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  height: 20px;
  margin-top: -15px;
}

.slider::-webkit-slider-thumb:hover {
  /* Specific styling for WebKit/Blink */
  background: var(--faderThumbHover);
  cursor: ns-resize;
}

.slider.slider::-moz-range-thumb:hover {
  /* Specific styling for Firefox */
  background: var(--faderThumbHover);
  cursor: ns-resize;
}

.slider::-ms-thumb:hover {
  /* Specific styling for Microsoft Edge */
  background: var(--faderThumbHover);
  cursor: ns-resize;
}

.inputNum {
  height: 25px;
  width: 54px;
  appearance: textfield;
  background-color: var(--fillLight);
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.midPoint {
  position: absolute;
  bottom: calc(260px / 2 + 66px);
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 50px;
  background: var(--midLine);
}

.faderName {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
}

.faderName::first-letter {
  text-transform: uppercase;
}
