/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Fader.css
 */

:root {
  --sliderHeight: 260px;
  /* Height of the slider (width im code) */
}

.fader {
  height: 360px;
  width: 102px;
  font-weight: 700;
  top: -4%;
  position: relative;
  color: var(--primary);
  border-right: 1px solid var(--color00000010);
  transform: translateX(-10px);
}

.faderMaster {
  height: calc(var(--sliderHeight) + 100px) !important;
  top: 5px;
}

.faderMaster > .midPoint {
  bottom: calc(var(--sliderHeight) / 2 + 70px) !important;
}

.faderMaster > .value-slider > .slider {
  width: var(--sliderHeight) !important;
}

.value-slider {
  position: absolute;
  bottom: 83px;
  left: 56%;
}

.noBorder {
  border: none !important;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 260px;
  height: 13px;
  border-radius: 50px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  transform-origin: bottom left;
  transform: rotateZ(270deg) translate3d(0, 0, 0);
  -webkit-transform: rotateZ(270deg) translate3d(0, 0, 0);
}

/* Slider Track - all Browsers */
.slider::-webkit-slider-runnable-track {
  /* Specific styling for WebKit/Blink */
  -webkit-appearance: none;
  width: 260px;
  height: 13px;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.slider::-moz-range-progress {
  /* Specific styling for Firefox track */
  background-color: var(--mainColor);
  height: 13px;
  border-radius: 50px;
}

.slider::-ms-fill-lower {
  /* Specific styling for Microsoft Edge track */
  background-color: var(--mainColor);
  height: 13px;
  border-radius: 50px;
}

.slider::-ms-fill-upper {
  /* Specific styling for Microsoft Edge track */
  background-color: var(--mainColor);
  height: 13px;
  border-radius: 50px;
}

/* Slider Thumb - all Browsers */
.slider::-webkit-slider-thumb {
  /* Specific styling for WebKit/Blink */
  margin-top: -15px;
  width: 44px;
  height: 44px;
  border: 1px solid var(--faderBorder);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  background: var(--faderThumb);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.slider::-moz-range-thumb {
  /* Specific styling for Firefox */
  width: 44px;
  height: 44px;
  border: 1px solid var(--faderBorder);
  border-radius: 50%;
  cursor: pointer;
  background: var(--faderThumb);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: -15px;
}

.slider::-ms-thumb {
  /* Specific styling for Microsoft Edge */
  width: 44px;
  height: 44px;
  border: 1px solid var(--faderBorder);
  border-radius: 50%;
  cursor: pointer;
  background: var(--faderThumb);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  height: 20px;
  margin-top: -15px;
}

.slider::-webkit-slider-thumb:hover {
  /* Specific styling for WebKit/Blink */
  background: var(--faderThumbHover);
  cursor: ns-resize;
}

.slider.slider::-moz-range-thumb:hover {
  /* Specific styling for Firefox */
  background: var(--faderThumbHover);
  cursor: ns-resize;
}

.slider::-ms-thumb:hover {
  /* Specific styling for Microsoft Edge */
  background: var(--faderThumbHover);
  cursor: ns-resize;
}

.valueDisplay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 37px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputNum {
  height: 2rem;
  text-align: right;
  background: transparent;
  position: relative;
  appearance: textfield;
  bottom: 1px;
}

.inputNumPercent {
  font-weight: 800;
  position: relative;
}

.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.midPoint {
  position: absolute;
  bottom: calc(260px / 2 + 70px);
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 50px;
  background: var(--midLine);
}

.faderName {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
}

.faderName::first-letter {
  text-transform: uppercase;
}
