/**
 * Header.modules.css
 * @author Leon Hölzel
 */
@import url(../Color.css);

.root {
    position: relative;
    width: 1920px;
    height: 90px;
    align-items: flex-start;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--fillThick);
    border-bottom: 1px solid var(--onepStroke);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    height: 90px;

    display: flex;
    color: var(--primary);
}

.settings {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    height: 100%;
}

.containerHeader {
    width: 5rem;
    height: 100%;
    flex: 1 1 auto;
}

.unorderedList {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
    .unorderedList {
        display: flex;
    }
}

.headerButton {
    position: relative;
    margin: 20px;
    width: 178px;
    height: 39px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--tertiarySwitched);
    box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.102);
    pointer-events: auto;
    font-size: 24px;
    font-weight: 500;
}

.headerButton:hover {
    background: var(--colorButtonHover);
}

.is-active .headerButton {
    background-color: var(--mainColor);
    cursor: default;
}

.divTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonTheme {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--tertiarySwitched);
    border: none;
    position: absolute;
    right: 40px;
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.headerIcon {
    position: relative;
    fill: var(--primary);
    align-self: start;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 7px;
}

.rotateHeaderIcon {
    position: relative;
    fill: var(--primary);
    align-self: start;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
    margin-right: 7px;
}

.is-active {
    color: var(--primaryDark);
    background: var(--mainColor);
}

.is-active .headerIcon {
    fill: var(--primaryDark);
}

.is-active .rotateHeaderIcon {
    fill: var(--primaryDark);
}

nav {
    margin-left: 10px;
    position: absolute;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    color: var(--primary);
    display: block;
    padding-right: 10px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--fillUltraThick);
    /* border: 1px solid var(--onepStroke);     // geht nicht aus irgendeinem Grund
    border-radius: 5px;
    padding: 5px; */
    box-shadow: var(--shadowLight);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

nav ul li:hover ul {
    display: block;
}