/**
 * Header.modules.css
 * @author Leon Hölzel
 */
.root {
    position: relative;
    width: 1920px;
    height: 90px;
    align-items: flex-start;
}

.header {
    /* -webkit-user-select: none; */
    /* wird ggf. nicht benötigt, da schon in index.css @baselayer :root ist */
    /* -webkit-app-region: drag; */
    /* nicht implementiert, da Probleme mit Buttons, usw.*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(246, 246, 246, 0.72);
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    height: 90px;
}

.button {
    position: relative;
    margin: 20px;
    width: 178px;
    height: 39px;
    align-items: flex-start;
    pointer-events: auto;
}

.fill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: #ffffff40;
    box-shadow: inset 0px 3px 10px 0px #0000001a;
}

.buttonFont {
    color: #000000d9;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.is-active {
    color: rgba(246, 246, 246, 0.72);
    background: #4F53B1;
}

.is-active .fill {
    background-color: #4F53B1;
}

.is-active .buttonFont {
    color: rgba(246, 246, 246, 0.72);
}