@import url(../Color.css);

.LightSettingsOverlay {
  position: relative;
  z-index: 9998;
  /* Infinite background hack */
  height: 10000vh;
  width: 10000vw;
  left: -5000vw;
  top: -5000vh;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.LightSettingsContainer {
  position: fixed;
  display: flex;
  gap: 20px;
  z-index: 9999;
  height: 70vh;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--fillMedium);
  color: var(--primary);
  -webkit-backdrop-filter: var(--windowBackdrop);
  backdrop-filter: var(--windowBackdrop);
  border: var(--onepStroke) 1px solid;
  padding: 15px 20px 20px 20px;
}

.LightSettingsListContainer {
  flex-grow: 1;
  min-width: 270px;
  width: 370px;
  flex-direction: column;
  display: flex;
  gap: 20px;
  position: relative;
  height: stretch;
  top: 40px;
  margin-bottom: 40px;
  bottom: 0;
}

.LightSettingsSelected {
  min-height: 70px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--mainColor);
  color: var(--primaryDark);
}

.LightSettingsSelectedDevice span,
.LightSettingsSelectedDevice .nameNumberBox{
  color: var(--primaryDark);
}

.LightSettingsSelectedDevice {
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.LightSettingsSelectedButton {
  position: absolute;
  width: stretch;
  height: stretch;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.LightSettingsList {
  flex-grow: 5;
  height: stretch;
  position: relative;
  width: stretch;
  overflow: auto;
  padding: 20px 0px 20px 20px;
}

.LightSettingsWindow {
  flex-grow: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  height: stretch;
  top: 40px;
  margin-bottom: 40px;
  bottom: 0;
  padding: 20px 20px 20px 20px;
  overflow: auto;
  gap: 20px;
}

.innerWindow hr {
  background-color: var(--faderBorder);
}

.LightSettingsWindowUpper {
  flex-grow: 1;
  position: relative;
  max-height: 130px;
  width: stretch;
  bottom: 10px;
}

.LightSettingsWindowMid {
  height: 100%;
  position: relative;
  width: stretch;
  gap: 20px;
  overflow-y: scroll;
  padding-right: 10px;
}

.LightSettingsWindowLower {
  max-height: 60px;
  min-height: 60px;
  position: relative;
  width: stretch;
  bottom: 0;
}

.LightSettingsDMXContainer {
  display: grid;
  position: relative;
  top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.LightSettingsDMXBox {
  width: stretch;
  height: 60px;
  display: flex;
  border-radius: 5px;
}

.LightSettingsDMXBoxLeft{
  position: relative;
  display: flex;
  width: 80px;
  left: 0;
  height: stretch;
  justify-content: center;
  align-items: center;
  background-color: var(--color00000008);
  border-radius: 5px 0px 0px 5px;
  border: var(--onepStroke) 1px solid;
}

.LightSettingsDMXBoxRight{
  position: relative;
  display: flex;
  width: stretch;
  right: 0;
  height: stretch;
  justify-content: center;
  align-items: center;
  background-color: var(--color00000003);
  border-radius: 0px 5px 5px 0px;
  border: var(--onepStroke) 1px solid;
  padding: 0px 10px 0px 10px;
}

.LightSettingsDMXBoxRight select{
  width: stretch;
}

.LightSettingsTextBoxContainer{
  width: stretch;
  display: flex;
  position: relative;
  bottom: 20px;
  top: 20px;
  gap: 20px;
  flex-direction: row;
  overflow: auto;
}

.LightSettingsTextBox{
  background-color: var(--fillLight);
  border: var(--onepStrokeSwitched) 1px solid;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  position: relative;
  padding-left: 10px;
  outline: none;
  /* margin-bottom: 10px; */
}

.LightSettingsTextBoxSmall{
  background-color: var(--fillLight);
  border: var(--onepStrokeSwitched) 1px solid;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  position: relative;
  padding-left: 10px;
  outline: none;
  margin-bottom: 10px;
}

.LightSettingsTextBoxSmall::-webkit-outer-spin-button,
.LightSettingsTextBoxSmall::-webkit-inner-spin-button,
.LightSettingsChannelInput::-webkit-outer-spin-button,
.LightSettingsChannelInput::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}

.LightSettingsTitle {
  position: absolute;
  width: 50vw;
  object-fit: contain;
  display: flex;
  font-size: 20px;
}

.LightSettingsSubTitle {
  font-size: 20px;
}

.LightSettingsSubTitle1 {
  font-size: 20px;
  height: 20px;
  top: -8px;
  position: relative;
}

.LightSettingsSaveButton {
  position: absolute;
  height: 60px;
  width: 15vw;
  right: 0px;
  bottom: 0px;
}

.LightSettingsDeleteButton {
  position: absolute;
  height: 60px;
  width: 15vw;
  bottom: 0px;
}

.LightSettingsChannelInput {
  width: 100%;
  text-align: center;
  background: none;
}

.LightSettingsOverParent .AddSceneContainer {
  position: fixed !important;
}