@import url(../Color.css);

.LightSettingsOverlay {
  position: relative;
  z-index: 9998;
  /* Infinite background hack */
  height: 10000vh;
  width: 10000vw;
  left: -5000vw;
  top: -5000vh;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.LightSettingsContainer {
  position: fixed;
  display: flex;
  gap: 20px;
  z-index: 9999;
  /* Above everything */
  /*height: 494px;
  width: 850px;
  top: 293px;
  left: 535px;
  */
  height: 70vh; /* Verwendet 50% der Höhe des Viewports */
  width: 70vw; /* Verwendet 50% der Breite des Viewports */
  top: 50%; /* Platziert das Element in der vertikalen Mitte */
  left: 50%; /* Platziert das Element in der horizontalen Mitte */
  transform: translate(-50%, -50%); /* Zentriert das Element */
  border-radius: 10px;
  background-color: var(--fillMedium);
  color: var(--primary);
  -webkit-backdrop-filter: var(--windowBackdrop);
  backdrop-filter: var(--windowBackdrop);
  border: var(--onepStroke) 1px solid;
  padding: 15px 20px 20px 20px;
}

.LightSettingsListContainer {
  flex-grow: 1;
  min-width: 270px;
  flex-direction: column;
  display: flex;
  gap: 20px;
  position: relative;
  height: stretch;
  top: 40px;
  margin-bottom: 40px;
  bottom: 0;
}

.LightSettingsSelected {
  min-height: 70px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--mainColor);
  color: var(--primaryDark);
}

.LightSettingsSelectedDevice .name{
  color: var(--primaryDark);
  min-width: 110px;
}

.LightSettingsSelectedDevice {
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.LightSettingsSelectedButton {
  position: absolute;
  width: stretch;
  height: stretch;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.LightSettingsList {
  flex-grow: 5;
  height: stretch;
  position: relative;
  width: stretch;
  overflow: auto;
  padding: 20px 0px 20px 20px;
}

.LightSettingsWindow {
  flex-grow: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  height: stretch;
  top: 40px;
  margin-bottom: 40px;
  bottom: 0;
  padding: 20px 20px 20px 20px;
  overflow: auto;
}

.innerWindow hr {
  background-color: var(--faderBorder);
}

.LightSettingsWindowUpper {
  flex-grow: 1;
  position: relative;
  max-height: 130px;
  width: stretch;
  bottom: 0;
}

.LightSettingsWindowMid {
  flex-grow: 5;
  position: relative;
  width: stretch;
  bottom: 0;
}

.LightSettingsWindowLower {
  flex-grow: 1;
  position: relative;
  width: stretch;
  bottom: 0;
  flex-direction: row;
}

.LightSettingsTextBoxContainer{
  width: stretch;
  display: flex;
  position: relative;
  bottom: 20px;
  top: 20px;
  gap: 20px;
  flex-direction: row;
  overflow: auto;
}

.LightSettingsTextBox{
  background-color: var(--fillLight);
  border: var(--onepStrokeSwitched) 1px solid;
  border-radius: 5px;
  width: 160px;
  height: 35px;
  position: relative;
  padding-left: 10px;
  outline: none;
  margin-bottom: 10px;
}

.LightSettingsTextBoxSmall{
  background-color: var(--fillLight);
  border: var(--onepStrokeSwitched) 1px solid;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  position: relative;
  padding-left: 10px;
  outline: none;
  margin-bottom: 10px;
}

.LightSettingsTextBoxSmall::-webkit-outer-spin-button,
.LightSettingsTextBoxSmall::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.LightSettingsTitle {
  position: absolute;
  width: 50vw;
  object-fit: contain;
  display: flex;
  font-size: 20px;
}

.LightSettingsSubTitle {
  top: 0px;
  position: relative;
  width: stretch;
  object-fit: contain;
  display: flex;
  font-size: 20px;
}

.LightSettingsSaveButton {
  position: absolute;
  height: 60px;
  width: 15vw;
  right: 0px;
  bottom: 0px;
}

.LightSettingsDeleteButton {
  position: absolute;
  height: 60px;
  width: 15vw;
  bottom: 0px;
}