@import url(../Color.css);

/* ScenesContainer */

.scenesContainer {
    /* vielleicht nicht benörigt, zumindest nicht bei ScenesComponent.tsx */
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddSceneButton {
    width: 100%;
    border-radius: 5px;
    background-color: var(--fillLight);
    position: relative;
    vertical-align: middle;
}

.AddSceneButtonFont {
    position: relative;
    top: -50%;
}

.AddSceneIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37%;
}

.scenesBox {
    background-color: var(--cyan);
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--onepStroke);
    box-shadow: var(--shadowLight);
}

.scenesAlign {
    margin-top: 20px;
    margin-left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    justify-items: start;
}

.scenesEmpty {
    background-color: var(--fillLight);
    border-color: var(--tertiary);
    border-style: dotted;
    border-radius: 5px;
    width: 100%;
}