@import url(../Color.css);

/* ScenesContainer */

.scenesContainer {
    /* vielleicht nicht benörigt, zumindest nicht bei ScenesComponent.tsx */
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddSceneButton {
    width: 100%;
    border-radius: 5px;
    background-color: var(--fillLight);
    position: relative;
}

.AddSceneButtonFont {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary);
    position: relative;
    top: -50%;
}

.AddSceneIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    height: 21px;
    width: 21px;
    mask: url(../assets/IconAdd.svg);
    mask-repeat: no-repeat;
    background: var(--secondary);
}

.scenesBox {
    background-color: var(--cyan);
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--onepStroke);
    box-shadow: var(--shadowLight),
                inset 0 0 0 0 transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scenesBox h2{
    font-size: 20px;
    top: -10px;
    position: relative;
    color: var(--primary);
}

.scenesAlign {
    margin-top: 20px;
    margin-left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    justify-items: start;
}

.scenesEmpty {
    background-color: var(--fillLight);
    border-color: var(--tertiary);
    border-style: dotted;
    border-radius: 5px;
    width: 100%;
}

.on {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.12); */
    box-shadow: 0 0 40px -15px var(--sceneOn),
                inset 0 0 175px -25px var(--sceneOn),
                inset 0 0 0 1px var(--sceneOn);
}

.bookmark {
    height: 25px;
    width: 25px;
    mask-repeat: no-repeat;
    background: var(--primary);
    mask-position: center;
}

.delete {
    right: 0;
    height: 25px;
    width: 22px;
    mask: url(../assets/delete.svg);
    mask-repeat: no-repeat;
    background: var(--primary);
}

.delete:hover {
    background-color: red;
}

.saved {
    mask: url(../assets/bookmarkAdded.svg);
}

.notSaved {
    mask: url(../assets/bookmarkAdd.svg);
}

.notSaved:hover {
    background-color: green;
}

.sceneButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 7px;
    padding-right: 11px;
}

.sceneButton {
    padding: 14px;
    height: 166px;
    display: flex;
}

.sceneMiddleButton {
    width: 80%;
    height: 200%;
}