/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file ScenesComponent.css
 */
@import url(../Color.css);

.scenesContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddSceneButton {
  width: 100%;
  border-radius: 5px;
  background-color: var(--fillLight);
  position: relative;
}

.AddSceneButtonFont {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
  position: relative;
  top: -50%;
}

.AddSceneIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  height: 21px;
  width: 21px;
  mask: url(../assets/IconAdd.svg);
  mask-repeat: no-repeat;
  background: var(--secondary);
}

.scenesBox {
  background-color: var(--blue);
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--onepStroke);
  box-shadow: var(--shadowLight), inset 0 0 0 0 transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scenesBox h2 {
  font-size: 20px;
  top: -10px;
  position: relative;
  color: var(--primary);
}

.scenesAlign {
  margin-top: 20px;
  margin-left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 30px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  justify-items: start;
}

.scenesEmpty {
  width: 100%;
  background-color: var(--fillLight);
  border-radius: 5px;
}

.sceneBorder {
  width: 100%;
  height: 100%;
  mask-repeat: no-repeat;
  background: var(--faderBorder);
  mask-position: center;
  mask-size: cover;
}

.borderBig {
  mask: url(../assets/borderSceneBig.svg);
}

.borderSmall {
  mask: url(../assets/borderSceneSmall.svg);
}

.on {
  box-shadow: 0 0 30px -13px var(--sceneOn), inset 0 0 175px -25px var(--sceneOn), inset 0 0 0 1px var(--sceneOn);
}

.bookmark {
  height: 25px;
  width: 25px;
  mask-repeat: no-repeat;
  background: var(--primary);
  mask-position: center;
}

.delete {
  right: 0;
  height: 25px;
  width: 22px;
  mask: url(../assets/delete.svg);
  mask-repeat: no-repeat;
  background: var(--primary);
}

.delete:hover {
  background-color: red;
}

.saved {
  mask: url(../assets/bookmarkAdded.svg);
}

.notSaved {
  mask: url(../assets/bookmarkAdd.svg);
}

.notSaved:hover {
  background-color: green;
}

.sceneButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 7px;
  padding-right: 11px;
}

.sceneButton {
  padding: 14px;
  height: 166px;
  display: flex;
}

.sceneMiddleButton {
  width: 80%;
  height: 200%;
}
