/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Settings.css
 */

.SettingsContainer {
  position: fixed;
  display: flex;
  z-index: 9999;
  gap: 20px;
  height: 70vh;
  width: 70vw;
  min-height: 400px;
  min-width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--fillMedium);
  color: var(--primary);
  -webkit-backdrop-filter: var(--windowBackdrop);
  backdrop-filter: var(--windowBackdrop);
  border: var(--onepStroke) 1px solid;
  padding: 20px;
}

.SettingsContainer:has(.SettingsOverview) {
  min-width: 1200px;
}

.settings {
  width: 200px;
  margin: 0;
  padding-right: 20px;
  position: relative;
}

.SettingContent {
  flex: 1;
  padding-left: 20px;
  position: relative;
}

.settingsContentContainer {
  overflow-y: auto;
  position: relative;
  height: calc(100% - 40px);
  width: calc(100% - 10px);
  top: 20px;
}

.settingsButtonContent {
  display: flex;
  gap: 5px;
}

.settings button {
  color: var(--primary);
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.settings button.active {
  background-color: var(--mainColor);
  color: var(--primaryDark);
}

.SettingsTitle {
  position: absolute;
  top: 12px;
  height: 36px;
  object-fit: contain;
  align-items: center;
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
  gap: 10px;
}

.SettingsTitleText {
  position: relative;
  left: 10px;
  top: -2px;
}

.SettingsTitleInner {
  top: -6px !important;
}

.SettingsSubTitle {
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  top: 15px;
}

.SettingsTextBox {
  width: 250px;
  min-width: 250px;
  margin: 0;
}

.SettingsOverviewImage {
  position: relative;
  flex: 0 0 auto;
  background-image: url(/src/assets/StudioOverview.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.studioOverviewInfopanelTest {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  width: 90px;
  flex-shrink: 0;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid var(--onepStroke);
  background-color: var(--fillThickFull);
  box-shadow: var(--shadowLight);
  z-index: 1;
  position: relative;
  top: 50px;
}

.SettingsOverviewImageForeground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.SettingsOverview {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 10px;
  align-content: space-between;
  justify-content: space-between;
}

.SettingsOverviewButtons {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  width: 100px;
  overflow-y: auto;
  overflow-x: auto;
  padding-right: 10px;
  scrollbar-gutter: auto;
  position: relative !important;
  container-type: inline-size;
  min-width: 295px;

}

.SettingsContent {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  height: stretch;
  top: 40px;
  margin-bottom: 40px;
  overflow: auto;
  bottom: 0;
  overflow: visible;
}

.SettingContainer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0; /* Height of a settings element*/
  position: relative;
  min-height: 48px;
  width: 100%;
}

.SettingsIPBoxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.SettingsIPBox {
  width: 40px;
  text-align: center;
  background-color: transparent;
  appearance: none; /* For Chrome, Safari, Edge */
  -moz-appearance: textfield; /* For Firefox */
}

.SettingsIPBox::-webkit-inner-spin-button,
.SettingsIPBox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.SettingsTextBoxContainer {
  width: 100%;
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: row;
  overflow: auto;
  margin-right: 20px;
}

.SettingsTextBoxContainer2 {
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: row;
}

.SettingsOption {
  flex-grow: 10;
  position: relative;
  width: stretch;
  padding: 1px 10px 0px 0px;
  height: 100%;
}

.SettingsLayer {
  position: absolute;
  top: 10px;
  height: 36px;
  width: 225px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  display: flex;
}

.SettingsButton {
  position: relative;
  height: 48px;
  width: 250px;
  min-width: 250px;
}

.SettingsLanguageSelection {
  width: 250px;
  margin: 0;
}

.ChangePassword {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 2200px) {
  .SettingsTextBoxContainer {
    width: stretch;
    margin-right: 0px;
  }

  .SettingsTextBox {
    width: 100%;
    margin-bottom: 20px;
  }

  .ChangePassword {
    flex-direction: column;
    align-items: end;
  }

  .PasswordMessage {
    top: 80px !important;
    right: 300px !important;
  }
}

@media (max-width: 1820px) {
  .SettingsTextBoxContainer {
    width: stretch;
    margin-right: 0px;
    flex-flow: column wrap;
    margin-bottom: 20px;
  }

  .SettingsTextBox {
    width: 100%;
    margin-bottom: 0px;
  }

  .ChangePassword {
    flex-flow: column wrap;
    align-items: end;
  }

  .PasswordMessage {
    top: 215px !important;
    right: 300px !important;
  }

  .buttonRight {
    position: relative !important;
    margin-left: 0px !important;
    margin-top: 20px;
  }
}

@media (max-width: 1375px) {
  .SettingsTextBoxContainer2 {
    flex-flow: column wrap;
  }

  .uploadDBContainer {
    flex-direction: column;
  }
}

.PasswordMessage {
  position: absolute;
  top: 55px;
  right: 30px;
  animation: fadeOut 1s 3s forwards;
}

.designContainer {
  display: flex;
  gap: 20px;
}

.designContainer > div {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
  background-color: var(--backgroundDesign);
}

.designDefaultSpan {
  position: absolute;
  top: 120px;
  z-index: 99;
  margin-left: 20px;
  font-size: 14px;
  color: var(--secondary);
  font-weight: 300;
}

.designSpan {
  position: absolute;
  top: 21px;
  z-index: 99;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.redDiv {
  background-color: var(--red);
  width: 20px;
  height: 50px;
  position: relative;
  top: 40px;
  left: 160px;
}

.blueDiv {
  background-color: var(--blue);
  width: 30px;
  height: 40px;
  position: relative;
  top: -30px;
  left: 16px;
}

.purpleDiv {
  background-color: var(--purple);
  width: 40px;
  height: 20px;
  position: relative;
  top: -20px;
  left: 80px;
}

.designBlur {
  width: 200px;
  height: 150px;
  background-color: rgba(125, 125, 125, 0.05);
  position: absolute;
  z-index: 4;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  top: 0;
}

.designWindow {
  width: 160px;
  height: 70px;
  position: absolute;
  z-index: 99;
  top: 40px;
  margin-left: 20px;
}

:root {
  --fillMediumDefault: rgba(246, 246, 246, 0.6);
  --onepStrokeDefault: #fff;
  --backgroundDesign: rgb(241, 241, 241);
}
.dark {
  --fillMediumDefault: rgba(63, 63, 63, 0.5);
  --onepStrokeDefault: rgba(255, 255, 255, 0.1);
  --backgroundDesign: rgb(38, 37, 44);
}

.defaultWindow {
  background-color: var(--fillMediumDefault);
  border: 1px solid var(--onepStrokeDefault);
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.activeDesign {
  outline: 2px solid var(--mainColor);
  outline-offset: -2px;
  pointer-events: none;
}

.newDesign {
  background: var(--backgroundImage);
  border: 1px solid var(--faderThumbBorder);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.successMessage {
  color: var(--mainColor);
}

.errorMessage {
  color: red;
}

.error-outline {
  outline-offset: -1px;
  animation: fadeOutOutline 4s forwards;
}

@keyframes fadeOutOutline {
  0% {
    outline: 2px solid red;
  }
  50% {
    outline: 2px solid red;
  }
  100% {
    outline: 2px solid transparent;
  }
}

.dbSettings {
  display: grid;
  gap: 20px;
  justify-items: end;
}

.uploadDBContainer {
  display: flex;
  gap: 20px;
}

.dropzone {
  border: 2px dashed var(--secondary);
  border-radius: 5px;
  height: 48px;
  width: 250px;
  text-align: center;
  line-height: 42px;
  cursor: copy;
  color: var(--secondary);
  white-space: nowrap;
  padding: 0 10px 0 10px;
}

.dropzone p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.traverseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  position: relative;
  margin-top: 20px;
}

.overviewInput {
  width: 55px;
  margin-left: 10px;
  margin-bottom: 0;
}

.traverseContainer {
  min-height: fit-content;
  flex-direction: column;
}

.traverseCell > .textBox {
  width: 100%;
}

.customLampContainer {
  flex-direction: column;
  min-height: fit-content;
}

.customRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

@container (max-width: 410px) {
  .customRow {
    flex-wrap: wrap;
  }
  .customRowContainer {
    gap: 20px !important;
  }
}
@container (max-width: 280px) {
  .customRow {
    width: 215px;
  }
}

.customRowContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}

.customRow > * {
  margin-left: 0 !important;
}

.danger {
  min-width: 50px !important;
  max-width: 50px !important;
  position: absolute;
  right: 0px;
}

.buttonRight {
  position: absolute;
  right: 0px;
}

.overviewButton {
  min-width: 180px !important;
  max-width: 180px !important;
  margin-left: 10px;
}

.SettingsOverviewImageGrid {
  max-width: 604px;
  width: 601px;
  height: 553px;
  align-items: center;
  justify-items: center;
  display: grid;
  position: relative;
  top: -31px;
  gap: 7px;
}

.SettingsOverviewImageGrid > div {
  height: 48px;
}

.toggleContainerSettings {
  display: flex;
  gap: 10px;
  margin-right: 100px;
}

.textRight {
  margin-left: -5px;
}

.noSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: var(--secondary);
}