/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Settings.css
 */
@import url(../Color.css);

.SettingsContainer {
  position: fixed;
  display: flex;
  z-index: 9999;
  gap: 20px;
  height: 70vh;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--fillMedium);
  color: var(--primary);
  -webkit-backdrop-filter: var(--windowBackdrop);
  backdrop-filter: var(--windowBackdrop);
  border: var(--onepStroke) 1px solid;
  padding: 20px;
}

.settings {
  width: 200px;
  margin: 0;
  padding-right: 20px;
  position: relative;
}

.SettingContent {
  flex: 1;
  padding-left: 20px;
  position: relative;
}

.settingsButtonContent {
  display: flex;
  gap: 5px;
}

.settings button {
  color: var(--primary);
  padding: 10%;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.settings button.active {
  background-color: var(--mainColor);
  color: var(--primaryDark);
}

.SettingsTitle {
  position: absolute;
  top: 10px;
  height: 36px;
  width: 225px;
  object-fit: contain;
  align-items: center;
  display: flex;
  font-size: 20px;
}

.SettingsSubTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.SettingsTextBox {
  background-color: var(--fillLight);
  border: var(--onepStrokeSwitched) 1px solid;
  border-radius: 5px;
  width: 11vw;
  height: 35px;
  position: relative;
  padding-left: 10px;
  outline: none;
}

.SettingsContent {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  height: stretch;
  top: 40px;
  margin-bottom: 40px;
  overflow: auto;
  bottom: 0;
  overflow: visible;
}

.SettingContainer {
  margin-top: 20px;
  padding-bottom: 20px;
}

.SettingsIPBox {
  width: 30px;
  text-align: center;
}

.SettingsTextBoxContainer {
  width: 70%;
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: row;
  overflow: auto;
}

.SettingsOption {
  flex-grow: 10;
  position: relative;
  width: stretch;
  padding: 15px 20px 20px 0px;
}

.SettingsLayer {
  position: absolute;
  top: 10px;
  height: 36px;
  width: 225px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  display: flex;
}

.SettingsButton {
  position: relative;
  height: 48px;
  width: 250px;
}

.SettingsLanguageSelection {
  background-color: var(--fillLight);
  border: var(--onepStrokeSwitched) 1px solid;
  border-radius: 5px;
  height: 35px;
  width: 11vw;
  position: relative;
  padding-left: 10px;
  outline: none;
}

.ChangePassword {
  display: flex;
  justify-content: space-between;
}

.ChangePassword .SettingsButton {
  top: -6px;
}

@media (max-width: 1725px) {
  .SettingsTextBoxContainer {
    width: stretch;
  }

  .SettingsTextBox {
    width: 100%;
    margin-bottom: 26px;
  }

  .ChangePassword {
    flex-direction: column;
    align-items: start;
  }

  .PasswordMessage {
    top: 210px !important;
  }
}

.PasswordMessage {
  position: absolute;
  top: 150px;
  animation: fadeOut 1s 3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.successMessage {
  color: var(--mainColor);
}

.errorMessage {
  color: red;
}

.error-outline {
  outline-offset: -1px;
  animation: fadeOutOutline 4s forwards;
}

@keyframes fadeOutOutline {
  0% {
    outline: 2px solid red;
  }
  50% {
    outline: 2px solid red;
  }
  100% {
    outline: 2px solid transparent;
  }
}
