@import url(../Color.css);

.SettingsOverlay {
  position: relative;
  z-index: 9998;
  /* Infinite background hack */
  height: 10000vh;
  width: 10000vw;
  left: -5000vw;
  top: -5000vh;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.SettingsContainer {
  position: fixed;
  display: flex;
  z-index: 9999;
  /* Above everything */
  /*height: 494px;
  width: 850px;
  top: 293px;
  left: 535px;
  */
  height: 70vh; /* Verwendet 50% der Höhe des Viewports */
  width: 70vw; /* Verwendet 50% der Breite des Viewports */
  top: 50%; /* Platziert das Element in der vertikalen Mitte */
  left: 50%; /* Platziert das Element in der horizontalen Mitte */
  transform: translate(-50%, -50%); /* Zentriert das Element */
  border-radius: 10px;
  background-color: var(--fillMedium);
  color: var(--primary);
  -webkit-backdrop-filter: var(--windowBackdrop);
  backdrop-filter: var(--windowBackdrop);
  border: var(--onepStroke) 1px solid;
  padding: 15px 20px 20px 20px;
}

.SettingsTitle {
  position: absolute;
  top: 10px;
  height: 36px;
  width: 225px;
  object-fit: contain;
  align-items: center;
  display: flex;
  font-size: 20px;
}

.innerWindow hr {
  background-color: var(--faderBorder);
}

.SettingsContent {
  flex-grow: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  height: stretch;
  
  top: 40px;
  margin-bottom: 40px;
  overflow: auto;
  bottom: 0;
}

.SettingsOption {
  flex-grow: 10;
  position: relative;
  width: stretch;
  padding: 15px 20px 20px 20px;
 
}

.SettingsLayer {
  position: absolute;
  top: 10px;
  height: 36px;
  width: 225px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  display: flex;
}

