/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Timeline.css
 */
.timeline-container {
  border-collapse: collapse;
  color: var(--primary);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.dragHint {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: var(--secondary);
  font-size: 20px;
  pointer-events: none;
  z-index: 11;
}

.add-layer-button {
  width: 140px;
  height: 29px;
  border-radius: 5px;
  z-index: 9;
  margin-left: 20px;
  box-shadow: none;
  border: none;
}

.layer-table-container {
  position: absolute;
  top: 55px;
  height: 241px;
  overflow: hidden;
  min-width: 200px;
  z-index: 10;
}

.timeline-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 10px;
  width: 1442px;
  height: 295px;
}

.timeline-table-container {
  height: 241px;
  width: fit-content;
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;
  margin-top: -1px;
}

.timeline-header {
  position: relative;
  left: -1px;
  border-bottom: 1px solid var(--faderThumbBorder);
  z-index: 10;
  margin-top: -276px; /* For cursor */
}

.timeline {
  overflow: scroll;
  position: relative;
  left: -1px;
}

.header-row {
  line-height: 16px;
}

.layer-col {
  position: relative;
  border: 1px solid var(--faderThumbBorder);
  border-left: none;
  min-width: 200px;
  padding-left: 20px;
  height: 60px;
}

.add-layer-container {
  height: 36px;
  border-right: 1px solid var(--faderThumbBorder);
  border-bottom: 1px solid var(--faderThumbBorder);
  width: 201px;
}

.header-cell {
  border-left: 1px solid var(--faderThumbBorder);
  vertical-align: top;
  text-align: start;
  padding-left: 3px;
  min-width: 64px;
}

.small-border {
  border-right: 1px solid var(--faderThumbBorder);
  height: 17px;
}

.scroll-vertical {
  position: absolute;
  right: 10px;
  bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 240px;
  width: 10px;
}

.scroll-height {
  height: 300px;
}

.grid-cell {
  min-width: 32px;
  height: 60px;
  position: relative;
  border: 1px solid var(--faderThumbBorder);
}

.cell-light {
  border-left: 1px solid var(--faderBorder) !important;
  border-right: 1px solid var(--faderBorder) !important;
}

.row-light {
  /* Highlight every second row */
  background-color: var(--primarySwitched);
}

.scene-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 59px;
  background-color: var(--blue);
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
  pointer-events: auto;
  padding: 0 10px;
}

.selected-scene {
  outline: solid 2px var(--primary);
  outline-offset: -2px;
}

.scene-box-handle-left,
.scene-box-handle-right {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.scene-box-handle-left {
  left: -5px;
  cursor: w-resize;
}

.scene-box-handle-right {
  right: -5px;
  cursor: e-resize;
}

.scene-box:hover .scene-box-handle-left,
.scene-box:hover .scene-box-handle-right {
  background-color: rgba(0, 0, 0, 0.5);
}

.scene-box-content {
  overflow-x: auto;
  white-space: nowrap;
}

.gray-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--faderThumbBorder);
  display: none;
  z-index: 8;
  border-radius: 5px;
  pointer-events: none;
  display: block;
}

.cursor {
  z-index: 100;
  position: relative;
  height: 100%;
  width: 2px;
  left: 500px;
  top: 28px;
}

.cursorHead {
  position: absolute;
  left: -7px;
  width: 16px;
  height: 8px;
  background-color: var(--mainColor);
  top: -8px;
  border-radius: 4px 4px 0 0;
}

.cursorNeck {
  position: absolute;
  left: -7px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--mainColor);
}

.cursorNeedle {
  width: 2px;
  height: 90%;
  background-color: var(--mainColor);
}
