/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Timeline.css
 */
.timeline-container {
  border-collapse: collapse;
  color: var(--primary);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.dragHint {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: var(--secondary);
  font-size: 20px;
  pointer-events: none;
}

.timeline-scroll {
  overflow-x: scroll;
  padding-bottom: 10px;
  overflow-y: hidden;
  width: 100%;
  height: 295px;
}

.timeline {
  overflow: scroll;
  position: relative;
  left: -1px;
}

.header-row {
  line-height: 16px;
}

.sticky-col {
  position: relative;
  border: 1px solid var(--faderThumbBorder);
  border-left: none;
  min-width: 200px;
  padding-left: 20px;
  height: 60px;
}

.sticky-col-placeholder {
  height: 35px;
  border-right: 1px solid var(--faderThumbBorder);
}

.header-cell {
  border-left: 1px solid var(--faderThumbBorder);
  vertical-align: top;
  text-align: start;
  padding-left: 3px;
}

.small-border {
  border-right: 1px solid var(--faderThumbBorder);
  height: 17px;
}

.grid-cell {
  min-width: 32px;
  height: 60px;
  position: relative;
  border: 1px solid var(--faderThumbBorder);
}

.cell-light {
  border-left: 1px solid var(--faderBorder) !important;
  border-right: 1px solid var(--faderBorder) !important;
}

.row-light {
  /* Highlight every second row */
  background-color: var(--primarySwitched);
}

/* .grid-cell:hover {
  background-color: var(--colorButtonHover);
} */

.scene-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 59px;
  background-color: var(--blue);
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
  pointer-events: auto;
  padding: 0 10px;
}

.scene-box-handle-left,
.scene-box-handle-right {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.scene-box-handle-left {
  left: -5px;
  cursor: w-resize;
}

.scene-box-handle-right {
  right: -5px;
  cursor: e-resize;
}

.scene-box:hover .scene-box-handle-left,
.scene-box:hover .scene-box-handle-right {
  background-color: rgba(0, 0, 0, 0.5);
}

.scene-box-content {
  overflow-x: auto;
  white-space: nowrap;
}

.gray-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--faderThumbBorder);
  display: none;
  z-index: 8;
  border-radius: 5px;
  pointer-events: none;
}

.grid-cell:hover .gray-box,
.grid-cell.drag-over .gray-box {
  display: block;
}

.cursor {
  z-index: 100;
  position: relative;
  height: 100%;
  width: 2px;
  top: -89.5%;
  left: -1px;
}

.cursorHead {
  position: absolute;
  left: -7px;
  width: 16px;
  height: 8px;
  background-color: var(--mainColor);
  top: -8px;
  border-radius: 4px 4px 0 0;
}

.cursorNeck {
  position: absolute;
  left: -7px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--mainColor);
}

.cursorNeedle {
  width: 2px;
  height: 89.5%;
  background-color: var(--mainColor);
}
