@import url(../Color.css);

.titlebarComp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 23px;
    /* background-color: hotpink; */
    z-index: 99;
    -webkit-app-region: drag;
}

nav {
    margin-left: 10px;
    position: absolute;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    color: var(--primary);
    display: block;
    padding-right: 10px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--fillUltraThick);
    border-radius: 5px;
    /*border: 1px solid var(--onepStroke);   /*geht nicht aus irgendeinem Grund*/
    /*padding: 5px; */
    box-shadow: var(--shadowLight);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    width: 200px;
    height: 300px;
}

nav ul li:hover ul {
    display: block;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: .8;
}

.titlebar-button {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 23px;
    top: 0;
    -webkit-app-region: none;
}

.titlebar-button.minimize:hover {
    background-color: var(--tertiary);
}

.titlebar-button.close:hover {
    background-color: red;
}

.titlebar-button.close:hover .x {
    background-color: #fff
}

.x {
    position: relative;
    height: 13px;
    width: 1px;
    margin-left: 6px;
    background-color: var(--primary);
    transform: rotate(45deg);
}

.xi {
    margin-left: 0;
    transform: rotate(90deg);
}

.xFrame {
    margin-left: 8px;
}

.min {
    height: 1px;
    width: 12px;
    margin-left: 9px;
    background-color: var(--primary);
}