/**
 * Luminous - A Web-Based Lighting Control System
 * 
 * TH Köln - University of Applied Sciences, institute for media and imaging technology
 * Projekt Medienproduktionstechnik & Web-Engineering
 * 
 * Authors:
 * - Leon Hölzel
 * - Darwin Pietas
 * - Marvin Plate
 * - Andree Tomek
 * 
 * @file Titlebar.css
 */

.titlebarComp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 23px;
  z-index: 99;
  -webkit-app-region: drag;
}

.titlebarComp.active {
  -webkit-app-region: no-drag !important;
}

nav {
  margin-left: 10px;
  position: absolute;
  z-index: 99;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  height: 23px;
}

nav ul li button {
  margin: 0 2px;
}

.logo {
  height: 11px;
  width: 74px;
  mask: url(../assets/Luminous_Logo.svg) no-repeat center;
  background: var(--secondary);
  top: 7px;
  position: relative;
  margin-right: 5px;
}

.hiddenlogo {
  height: 11px;
  width: 50px;
  top: 7px;
  position: relative;
  margin-right: 5px;
}

.settingsButton {
  height: 23px;
  width: 31px;
  display: flex;
  padding-top: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 3px 3px;
  -webkit-app-region: no-drag !important;
  mask: url(../assets/rect.svg); /* Prevent weird pixel */
}

.settingsButton:hover,
.settingsButton.active {
  background-color: var(--colorButtonHover);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
}

.titlebar-button {
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 23px;
  top: 0;
  padding-left: 8px;
  -webkit-app-region: none;
}

.minimize {
  border-radius: 0 0 3px 3px;
}

.close {
  border-radius: 0 0 0 3px;
}

.titlebar-button.minimize:hover {
  background-color: var(--tertiary);
}

.titlebar-button.close:hover {
  background-color: red;
}

.titlebar-button.close:hover .x {
  background-color: #fff;
}

.x {
  position: relative;
  height: 13px;
  width: 1px;
  background-color: var(--primary);
  margin-left: 6px;
  transform: rotate(45deg);
}

.xi {
  margin-left: 0;
  transform: rotate(90deg);
}

.min {
  margin-left: 1px;
  height: 1px;
  width: 12px;
  background-color: var(--primary);
}
