/*
 Diese Datei ist Teil der Bachelorarbeit von Fabian Schoettler
 Martrikelnummer : 1111 0647
 Stand : 13.03.2019
*/
.transOptionContainer{
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns: 1fr 0.2fr 1fr 5fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
	grid-column: first span / end;
	border: 0;
	padding-left:10px;
}

.transOptionContainer.is-hidden{
	display:none;
}

.transTimeTag.faderValueTag{
	align-self: center;
	height:30%;
	width:80%;
	text-align: right;
	border:0 ;
	border-bottom:1px solid black;
}

.transTimeFaderContainer{
	width:100%;
	height:100%;
	padding:10px;

}

.transMinTimeBtn, .transMaxTimeBtn{
	align-self: center;
	width:80%;
	height:80%;
}
