<!DOCTYPE html>
<html>
<head>
	<title>NOC Server</title>

	<!-- Load jquery and SocketIO -->
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/socket.io.min.js"></script>

	<link rel="manifest" href="../static/manifest.json">

	<!-- Load the CSS Sheets -->
	<link rel="stylesheet" href="../static/stylesheets/base.css">

	<link rel="stylesheet" href="../static/stylesheets/layout/main.css">

	<link rel="stylesheet" href="../static/stylesheets/modules/alert.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/fader.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/group.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/header.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/master.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/modal.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/modeBtn.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/scene.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/sidenav.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/transOptions.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/universeSelect.css">

	<!-- This meta tag is for displaying the app correctyl on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
	<body>




		<div id="mySidenav" class="sidenav">
			<div href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</div>
			<a class="profileManagerLink">Profile Manager</a>
			<a class="toggleFullscreenOption">Toggle Fullscreen</a>
			<a class="logoutBtn">Logout</a>
		</div>

		<!-- Header -->
		<div class="globalGrid">
			<div id="headerContainer" class="headerContainer">
				<div class="loadingContainer">
					<div class="lds-dual-ring"></div>
				</div>
				<div id="appName" style="text-align:left; margin-left:20px;">
					<h2 class="olaHeading" style="margin:auto;">New OLA Controller</h2>
					<div>
						<span>Current Profile: </span>
						<span class="currentProfileName"> - </span>
					</div>
				</div>
				<div id="appStatusIcon" class="appStatusIcon"></div>
				<button id="dmxRequest" class="dmxRequestBtn">Req. DMX</button>
			</div>

			<!-- The div for the burger Menu -->
			<button id="burgerMenu" class="burgerMenu button">
				<i class="material-icons" style="color:white; font-size:xx-large">menu</i>
			</button>

			<!-- Sidebar to switch the mode -->
			<div id="modeBtnContainer" class="modeBtnContainer">
				<button class="modeBtn1 modeBtn" onclick="switchMode(0)"></button>
				<button class="modeBtn2 modeBtn activeMode" onclick="switchMode(1)"></button>
				<button class="modeBtn3 modeBtn" onclick="switchMode(2)"></button>
			</div>

			<!-- This grid div manages the positioning of the control containers -->
			<div id="controlContainerGrid" class="controlContainerGrid">
				<div id="alert-area" class="alert-area"></div>
				<!-- Container for the scenes -->
				<div id="sceneControlContainer" class="sceneControlContainer">
					<div id="sceneControlBar" class="sceneControlBar">
						<button id="addScene"			class="sceneControlOption"><i class="material-icons" style="font-size:inherit;">add</i>Add Scene</button>
						<button id="modScene"			class="sceneControlOption"><i class="material-icons">settings</i>Modify Scenes</button>
						<button id="transOnOff"		class="sceneControlOption"> *option* <i class="material-icons"></i></button>
						<button id="transOptions" class="sceneControlOption activeMode">Transition Time<i class="material-icons">keyboard_arrow_up</i></button>
					</div>

					<div id="transOptionContainer" class="transOptionContainer">
						<input 	class="transTimeTag faderValueTag"	type="number" min="0" max="30" step="0.5" />
						<a style="place-self: center;">s </a>
						<button class="transMinTimeBtn minButton">0 s</button>
						<div 		class="transTimeFaderContainer">
							<input  class="transTimeFader fader" type="range" min="0" max="60"/>
						</div>
						<button class="transMaxTimeBtn maxButton">30s</button>
					</div>

					<div id="sceneContainer" class="sceneContainer" style="width:100%">
					</div>
				</div>

				<!-- Container for the dimmer -->

				<div id="faderControlContainer" class="faderControlContainer">
					<div id="faderControlBar" class="faderControlBar">
						<button id="option3"	class="faderControlOption"> *option* </button>
						<button id="option4"	class="faderControlOption"> *option* </button>
						<button id="showHideFader"	class="faderControlOption"><i class="material-icons">star_border</i></button>
						<button id="showHideMaster"	class="faderControlOption activeMode">Hide Master</button>
					</div>

					<div class="universeSelectBar">
						<button class="universeTag is-activeUniverseTag">Groups</button>

						{% for uni in universes %}
							<button class="universeTag universeTag-{{uni.id}}">U {{uni.id}}</button>
						{% endfor %}

						<div class="universeTagFiller"></div>
					</div>

					<div id="faderContainer" class="faderContainer faderContainerSmall">

						<div class="groupContainer is-hidden" style="height:100%; ">

							<div class="groupOptions">
								<button style="font-size: xx-large; border-radius:5px;" class="addGroupBtn">+</button>
								<!-- <button class="addGroupBtn">Del</button> -->
							</div>

						</div>
						<div class="groupContainerTemplate singleGroupContainer">
								<div class="groupInfoAndControl">
									<input type="text" class="groupName" placeholder="Group name"/>
									<button class="addFaderToGroupBtn">add Fader</button>
									<button class="deleteThisGroupBtn">X</button>
									<button class="toggleGroupBtn"> <i class="material-icons">chevron_right</i> </button>
								</div>

								<div class="groupMasterFader" class="control-unit">
									<div class="masterUnitWrapper">

										<button class="setMasterMaxValue maxButton" style="height:10%;order: 3;" type="button">Max</button>

										<div class="masterValueContainer" style=" width: 100%;height:5%; order:4">
											<input class="faderValueTag"  style="display:inline-block;width:70%; height:100%;" type="number" value="0" min="0" max="100" name="amount"/>
											<a style="display:inline-block; width:20%; height:100%">%</a>
										</div>

										<div class="masterSliderContainer" style="height:75%;order: 4; position:relative; display:flex; justify-content:center; align-items:center;">
											<input class="fader" min="0" max="255" type="range"/>
										</div>

										<button class="setMasterMinValue minButton" type="button" style="height:10%;order:5;padding:5px;"> Min </button>
									</div>
								</div>

								<div class="groupFader is-extended"></div>
							</div>

						<!-- Dynamic universe and fader rendering -->
						{% for uni in range( uniLength ) %}

							{% if uni == 0 %}
							<div class="universeContainer universeContainer-{{uni}}">
							{% else %}
							<div class="universeContainer universeContainer-{{uni}} is-hidden">
							{% endif %}

								{% for j in range(512) %}
								<div class="control-unit channelFader channelFader-{{uni}}-{{j}}">

									<div class="controlUnitWrapper">

										<div class="inputContainerWrapper" style="height:5%; width:100%;order:1">
											<input class="inputContainer faderName" placeholder="Fader name" style="height:100%; width:100%; "/>
										</div>

										<a class="faderHeading nameContainer" style="height:5%;width:100%;order: 2">{{j+1}}</a>
										<button class="maxButton setSliderMaxValue" style="height:10%;order: 3;" type="button">Max</button>

										<div class="faderValueContainer" style=" width: 100%;height:5%; order:4">
											<input class="faderValueTag "  style="display:inline-block;width:80%; height:100%;" type="number" value="0" min="0" max="100" name="amount"/>
											<a style="display:inline-block; width:20%; height:100%">%</a>
										</div>

										<div class="sliderContainer2" style="height:60%;order: 4; position:relative; display:flex; justify-content:center; align-items:center;">
											<input class="fader channel-fader" min="0" max="255" type="range" value="0"/>
										</div>

										<button class="setSliderMinValue minButton" type="button" style="height:10%;order:5;padding:5px;"> Min </button>

										<div class="dimmerOptions" style="height:4%;order:6; width:100%">
											<button class="dimmerFavorite" style="height:100%;width:50%; float:left;"><i class="material-icons">star_border</i></button>
											<button class="dimmerGroupToggle" style="height:100%;width:50%; float:left;">G</button>
										</div>

									</div>
								</div>
								{% endfor %}

						</div>
						{% endfor %}

					</div>

					<div id="masterContainer" class="control-unit">
						<div class="masterUnitWrapper">
							<a class="slider-heading masterHeading" style="height:5%;order: 2; ">Master</a>
							<br/>

							<button class="setMasterMaxValue maxButton" style="height:10%;order: 3;" type="button">Max</button>

							<div class="masterValueContainer" style=" width: 100%;height:5%; order:4">
								<input class="masterValueTag faderValueTag"  style="display:inline-block;width:70%; height:100%;" type="number" value="0" min="0" max="100" name="amount"/>
								<a style="display:inline-block; width:20%; height:100%">%</a>
							</div>

							<div class="masterSliderContainer" style="height:70%;order: 4; position:relative; display:flex; justify-content:center; align-items:center;">
								<input class="fader master-fader" min="0" max="255" type="range"/>
							</div>

							<button class="setMasterMinValue minButton" type="button" style="height:10%;order:5;padding:5px;"> Min </button>
						</div>
					</div>
				</div>

			<!-- End grid div -->
			</div>

		<!-- end global grid -->
		</div>

		<!-- scene templates -->
		<div class="sceneTemplate scene">
			<div class="singleSceneContainer">
				<div class="sceneNameContainer">
					<span class="sceneUniverses" style="text-align:left;"></span>
					<span class="sceneName" >SCENE NAME</span>
				</div>
				<button class="modifySceneBtn editSceneBtn">
					Edit<i class="material-icons">edit</i>
				</button>
				<button class="modifySceneBtn ovwrtSceneBtn">
					Ovrwrt<i class="material-icons">cached</i>
				</button>
				<button class="modifySceneBtn deleteSceneBtn deleteBtn">
					DEL<i class="material-icons">delete_forever</i>
				</button>
			</div>
		</div>

		<!-- template control unit -->
		<div id="inputSlider" class="control-unit faderTemplate" hidden>

			<div class="controlUnitWrapper">

				<div class="inputContainerWrapper" style="height:5%; width:100%;order:1">
					<input class="inputContainer faderName" placeholder="Fader name" style="height:100%; width:100%; "/>
				</div>

				<a class="faderHeading nameContainer" style="height:5%;width:100%;order: 2">Test</a>
				<button class="maxButton setSliderMaxValue" style="height:10%;order: 3;" type="button">Max</button>

				<div class="faderValueContainer" style=" width: 100%;height:5%; order:4">
					<input class="faderValueTag "  style="display:inline-block;width:80%; height:100%;" type="number" value="0" min="0" max="100" name="amount"/>
					<a style="display:inline-block; width:20%; height:100%">%</a>
				</div>

				<div class="sliderContainer2" style="height:60%;order: 4; position:relative; display:flex; justify-content:center; align-items:center;">
					<input class="fader channel-fader" min="0" max="255" type="range"/>
				</div>

				<button class="setSliderMinValue minButton" type="button" style="height:10%;order:5;padding:5px;"> Min </button>

				<div class="dimmerOptions" style="height:4%;order:6; width:100%">
					<button class="dimmerFavorite" style="height:100%;width:50%; float:left;">X</button>
					<button class="dimmerGroupToggle" style="height:100%;width:50%; float:left;">G</button>
				</div>

			</div>
		</div>

		<button class="removeDimmerFromGroup removeDimmerFromGroupTemplate" style="background-color: var(--c-danger);height:100%;width:50%; float:left;">
			<i class="material-icons">close</i>
		</button>

<!-- ========================================== -->
<!-- 						MODALS FROM HERE			 					-->
<!-- ========================================== -->

		<!-- The new scene modal -->
		<div id="newSceneModal" class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">

		    <span class="closeModal">&times;</span>
				<div class="newSceneContent">
					<h1>Add New Scene</h1>
					<div class="newSceneInputFields" style="margin-top: 20px;
					  margin-bottom: 20px;">
						<input class="sceneNameInput" type="text" placeholder="Enter scene name"/>
						<input class="sceneColorInput" type="color" value="#ffffff"/>
					</div>

					<a style="margin-top: 20px;margin-bottom: 20px;">Select the universes this scene should keep track off</a>

					<div class="universeSelectContainer">
						<!-- Generate buttons for each unvierse : standard is all tracked -->
					</div>

					<button class="commitNewScene button">Add scene!</button>
				</div>
		  </div>

		</div>

		<!-- The profile manager modal -->
		<div id="profileManagerModal" class="modal">
		  <!-- Modal content -->
		  <div class="modal-content profileModalContent" >

		    <span class="closeModal">&times;</span>
				<div class="profileManagerContent">

					<h1 class="profileManagerHeading">Profile Manager</h1>

					<div class="currentProfile">
						<button class="button updateProfileBtn"><i class="material-icons">save</i> save</button>
						<div class="activeLabel">Current Profile: <div class="currentProfileName">Erstes Profil</div> </div>
					</div>

					<div class="allProfilesContainer">

					</div>

					<div class="decisionContainer">
						<button class="button addProfileBtn"><i class="material-icons">add</i> Add profile</button>
						<button class="button cancelBtn">Cancel</button>
					</div>

					<!-- The profile template that is being copied by js -->
					<div hidden class="profileTemplate">
						<button class="profileLoadBtn button"><i class="material-icons">folder_open</i>	Load</button>
						<span 	class="deleteProfile deleteBtn"><i class="material-icons">delete_forever</i></span>
						<div 		class="profileName">Test Profile</div>
						<!-- <button class="profileOvwrtBtn button"><i class="material-icons">autorenew</i></button> -->
					</div>


				</div>
		  </div>

		</div>

		<!-- add new Profile -->
		<div id="addProfileModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>

				<div class="addProfileGrid">

					<h1>New Profile </h1>
					<h4> Type a name for the new Moal</h4>
					<input type="text" placeholder="Profile Name" class="addProfileName"/>
					<div class="decisionContainer">
						<button class="button addConfirmBtn addProfileConfirmBtn">Add Profile</button>
						<button class="button cancelBtn">Cancel</button>
					</div>

				</div>
			</div>
		</div>

		<!-- Load profile modal -->
		<div id="loadProfileModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>
				<h1>WARNING </h1>
				<h4> Changes in the current profile are lost when loading another one</h4>
				<div class="decisionContainer">
					<button class="button loadConfirmBtn loadProfileConfirmBtn">Load</button>
					<button class="button cancelBtn">Cancel</button>
				</div>
			</div>
		</div>

		<!-- Overwrite Profile modal -->
		<div id="overwriteProfileModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>
				<h1>WARNING </h1>
				<a> Do you really want to overwrite this profile?</a>
				<div class="decisionContainer">
					<button class="button ovwrtBtn overwriteProfileConfirmBtn">Overwrite</button>
					<button class="button cancelBtn">Cancel</button>
				</div>
			</div>
		</div>

		<!-- Delete profile modal -->
		<div id="deleteProfileModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>
				<h1>WARNING </h1>
				<h4> Do you really want to delete this profile?</h4>
				<div class="decisionContainer">
					<button class="button deleteBtn deleteProfileConfirmBtn">Delete</button>
					<button class="button cancelBtn">Cancel</button>
				</div>
			</div>
		</div>

		<!-- Add new Profile Modal -->

		<!-- Update current profile modal -->

		<!-- The edit Scene Modal -->
		<div id="editSceneModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>
				<div class="editSceneContent">

					<h1>Edit the scene to your likes!</h1>
					<div class="editSceneInputFields">
						<input class="editSceneNameInput sceneNameInput" type="text" placeholder="Enter scene name"/>
						<input class="editSceneColorInput sceneColorInput" type="color"/>
					</div>

					<div class="decisionContainer">
						<button class="button editConfirmBtn">Edit!</button>
						<button class="button cancelBtn">Cancel</button>
					</div>

				</div>
			</div>
		</div>

		<!-- The "overwrite Scene" Modal -->
		<div id="ovwrtSceneModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>
				<h1>Overwrite Scene</h1>
				<h3>Do you really want to override this scene?</h3>
				<div class="decisionContainer">
					<button class="button ovwrtConfirmBtn">Overwrite!</button>
					<button class="button cancelBtn">Cancel</button>
				</div>
			</div>
		</div>

		<!-- The "remove Scene" Modal -->
		<div id="deleteSceneModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>
				<h1>WARNING </h1>
				<a > Do you really want to delete this scene? </a>
				<div class="decisionContainer" style="margin-top:20px;">
					<button class="button deleteBtn deleteSceneConfirmBtn">DELETE</button>
					<button class="button cancelBtn">Cancel</button>
				</div>
			</div>
		</div>

		<!-- The "remove Scene" Modal -->
		<div id="loginModal" class="modal loginModal">
			<!-- Modal content -->
			<div class="modal-content">

				<span class="closeModal">&times;</span>

				<div class="loginModalContainer">
					<h1>Login </h1>

					<a > You need to be logged in for this operation! </a>
					<div class="loginStatusContainer"><div class="loginStatus"> Username or password not correct! </div></div>

					<div class="loginContainer">
						<a> Username </a>
						<input class="loginUsername" type="text" placeholder="username"/>
						<a> Password </a>
						<input class="loginPassword" type="password" placeholder="password"/>
					</div>

					<div class="decisionContainer" style="margin-top:20px;">
						<button class="button loginBtn">Login</button>
						<button class="button cancelBtn">Cancel</button>
					</div>
				</div>

			</div>
		</div>


		<div id="addFaderModal" class="addFaderModal modal">
			<!-- Modal content -->
			<div class="modal-content addFaderModalContent">

				<div class="modalHeader" style="height:100%; width:100%">
					<span class="closeModal">&times;</span>
					<h1>Set universe and fader ID</h1>
				</div>


				<!-- place button to select an universe in here -->
				<div class="faderSelection-universeTags">

				</div>

				<!-- The fader selection container in here! -->
				<div class="faderSelection-allUniverses">

				</div>


				<div class="decisionContainer">
					<button class="button addFaderConfirmBtn">Add Fader</button>
					<button class="button cancelBtn">Cancel</button>
				</div>

				<button class="faderSelectionBtn faderSelectionBtnTemplate"></button>

			</div>
		</div>

		<!-- Load the Javscscript files -->
		<script src="../static/js/scene.js"></script>
		<script src="../static/js/fader.js"></script>
		<script src="../static/js/group.js"></script>
		<script src="../static/js/message.js"></script>
		<script src="../static/js/profile.js"></script>
		<script src="../static/js/appManager.js"></script>
		<script src="../static/js/main.js"></script>


	</body>
</html>
