<!DOCTYPE html>
<html>
<head>
	<title>Fader Test</title>

	<!-- Load jquery and SocketIO -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

	<link rel="manifest" href="../static/manifest.json">

	<!-- Load the CSS Sheets -->
	<link rel="stylesheet" href="../static/stylesheets/base.css">

	<link rel="stylesheet" href="../static/stylesheets/layout/main.css">

	<link rel="stylesheet" href="../static/stylesheets/modules/alert.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/fader.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/group.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/header.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/master.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/modal.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/modeBtn.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/scene.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/sidenav.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/transOptions.css">
	<link rel="stylesheet" href="../static/stylesheets/modules/universeSelect.css">

	<!-- This meta tag is for displaying the app correctyl on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
	<body>
		<div id="masterContainer" class="control-unit">
			<div class="masterUnitWrapper">
				<a class="slider-heading masterHeading" style="height:5%;order: 2; ">Fader</a>
				<br/>

				<button class="setMasterMaxValue maxButton" style="height:10%;order: 3;" type="button">Max</button>

				<div class="masterValueContainer" style=" width: 100%;height:5%; order:4">
					<input class="masterValueTag faderValueTag"  style="display:inline-block;width:70%; height:100%;" type="number" value="0" min="0" max="100" name="amount"/>
					<a style="display:inline-block; width:20%; height:100%">%</a>
				</div>

				<div class="masterSliderContainer" style="height:70%;order: 4; position:relative; display:flex; justify-content:center; align-items:center;">
					<input class="fader master-fader" min="0" max="255" type="range"/>
				</div>

				<button class="setMasterMinValue minButton" type="button" style="height:10%;order:5;padding:5px;"> Min </button>
			</div>
		</div>

		<!-- Load the Javscscript files -->
		<script src="../static/js/scene.js"></script>
		<script src="../static/js/fader.js"></script>
		<script src="../static/js/group.js"></script>
		<script src="../static/js/message.js"></script>
		<script src="../static/js/profile.js"></script>
		<script src="../static/js/appManager.js"></script>
		<script src="../static/js/main.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.fader').on('input', function() {
					var faderValue = $(this).val();
					$.ajax({
						url: '/update_fader_value',
						type: 'POST',
						data: JSON.stringify({'faderValue': faderValue}),
						contentType: 'application/json'
					});
					$('#fader-value').text(faderValue);
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				const socket = io.connect('/test'); 
				socket.on('variable_update', function(data) { 
					console.log("The value is " + data.variable);
					AppManager.getCurrentProfile().setMasterValue(data.variable);
				}); 
			}); 
		</script>
	</body>
</html>
