[Unit]
Description= New OLA Controller - Server

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/NOC/venv/bin/python  /home/pi/NOC/"NOC Server"/noc_server.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755

[Install]
WantedBy=multi-user.target
